<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/auth/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Quên mật khẩu</title>
</head>

<body>
<form class="forgot-password-form form" th:action="@{/auth/forgot-password}" method="post" th:object="${forgotPasswordDto}"
      layout:fragment="content">
    <h1 class="forgot-password-form-title form-title">QUÊN MẬT KHẨU</h1>

    <div class="forgot-password-form-description form-description">
        <p>
            Vui lòng nhập địa chỉ email của bạn bên dưới. Chúng tôi sẽ gửi cho bạn
            liên kết để đặt lại mật khẩu.
        </p>
    </div>

    <div class="input-group">
        <label for="email">Email:</label>
        <div class="input-group-control">
            <input type="email" name="email" id="email" placeholder="Email" required
                   th:classappend="${#fields.hasErrors('email') ? 'error' : ''}" th:field="${forgotPasswordDto.email}"/>
        </div>
        <span class="input-error-message" th:if="${#fields.hasErrors('email')}"
              th:errors="${forgotPasswordDto.email}"></span>
    </div>

    <button class="reset-password-button primary-button" type="submit">Đặt lại mật khẩu</button>

    <p class="text">Nhớ mật khẩu rồi? <a href="/auth/login">Đăng nhập</a></p>
</form>
</body>
</html>
