<!DOCTYPE html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/auth/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quên mất khẩu</title>
  </head>

  <body>
    <div class="forgot-password-confirmation" layout:fragment="content">
      <h1 class="forgot-password-confirmation-title">
        YÊU CẦU ĐẶT LẠI MẬT KHẨU ĐÃ ĐƯỢC GỬI
      </h1>

      <div class="forgot-password-confirmation-description">
        <p th:text="${message}"></p>
      </div>

      <a class="primary-button" href="/auth/login">Quay lại đăng nhập</a>
    </div>
  </body>
</html>
