<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/auth/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Đăng ký</title>
</head>

<body>
<form class="register-form form" th:action="@{/auth/register}" method="post" th:object="${registerDto}"
      layout:fragment="content">
    <h2 class="register-form-title form-title">Đăng ký</h2>

    <div class="input-group">
        <label for="firstName">Tên:</label>
        <div class="input-group-control">
            <input type="text" name="firstName" id="firstName" placeholder="Tên" required
                   th:classappend="${#fields.hasErrors('firstName') ? 'error' : ''}"
                   th:field="${registerDto.firstName}"/>
            <span class="input-error-message" th:if="${#fields.hasErrors('firstName')}"
                  th:errors="${registerDto.firstName}"></span>
        </div>
    </div>

    <div class="input-group">
        <label for="lastName">Họ:</label>
        <div class="input-group-control">
            <input type="text" name="lastName" id="lastName" placeholder="Họ" required
                   th:classappend="${#fields.hasErrors('lastName') ? 'error' : ''}" th:field="${registerDto.lastName}"/>
            <span class="input-error-message" th:if="${#fields.hasErrors('lastName')}"
                  th:errors="${registerDto.lastName}"></span>
        </div>
    </div>

    <div class="input-group">
        <label for="email">Email:</label>
        <div class="input-group-control">
            <input type="email" name="email" id="email" placeholder="Email" required
                   th:classappend="${#fields.hasErrors('email') ? 'error' : ''}" th:field="${registerDto.email}"/>
            <span class="input-error-message" th:if="${#fields.hasErrors('email')}"
                  th:errors="${registerDto.email}"></span>
        </div>
    </div>

    <div class="input-group">
        <label for="password">Mật khẩu:</label>
        <div class="input-group-control">
            <input type="password" name="password" id="password" placeholder="Mật khẩu" required
                   th:classappend="${#fields.hasErrors('password') ? 'error' : ''}" th:field="${registerDto.password}"/>
            <span class="input-error-message" th:if="${#fields.hasErrors('password')}"
                  th:errors="${registerDto.password}"></span>
        </div>
    </div>

    <div class="input-group">
        <label for="confirmPassword">Nhập lại mật khẩu:</label>
        <div class="input-group-control">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Nhập lại mật khẩu" required
                   th:classappend="${#fields.hasErrors('confirmPassword') ? 'error' : ''}"
                   th:field="${registerDto.confirmPassword}"/>
            <span class="input-error-message" th:if="${#fields.hasErrors('confirmPassword')}"
                  th:errors="${registerDto.confirmPassword}"></span>
        </div>
    </div>

    <button class="register-button primary-button" type="submit">Đăng ký</button>

    <p class="text">Đã có tài khoản ? <a href="/auth/login">Đăng nhập</a></p>
</form>
</body>
</html>
