<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/auth/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Đặt lại mật khẩu</title>
  </head>

  <body>
    <form
      class="reset-password-form"
      th:action="@{/auth/reset-password}"
      method="post"
      th:object="${resetPasswordInformation}"
      layout:fragment="content"
    >
      <input
        type="hidden"
        name="resetPasswordToken"
        th:value="${resetPasswordInformation.resetPasswordToken}"
      />
      <h1 class="reset-password-form-title">ĐẶT LẠI MẬT KHẨU</h1>

      <div class="reset-password-form-description">
        <p>
          Vui lòng nhập mật khẩu mới và xác nhận lại để hoàn tất quá trình đặt
          lại mật khẩu
        </p>
      </div>

      <div class="input-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <div class="input-group-control">
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="Mật khẩu mới"
            required
          />
          <span
            class="input-error-message"
            th:if="${#fields.hasErrors('confirmPassword')}"
            th:errors="${registerDto.firstName}"
          ></span>
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">Xác nhận mật khẩu:</label>
        <div class="input-group-control">
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="Xác nhận mật khẩu"
            required
          />
          <span
            class="input-error-message"
            th:if="${#fields.hasErrors('confirmPassword')}"
            th:errors="${registerDto.firstName}"
          ></span>
        </div>
      </div>

      <button class="reset-password-button primary-button" type="submit">
        Đặt lại mật khẩu
      </button>
    </form>
  </body>
</html>
