<!DOCTYPE html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/auth/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Đặt lại mật khẩu</title>
  </head>
  <body>
    <div class="reset-password-confirmation" layout:fragment="content">
      <h2 class="reset-password-confirmation-title">ĐẶT LẠI MẬT KHẨU</h2>

      <div class="reset-password-confirmation-description">
        <p>
          Mật khẩu của bạn đã được đặt lại thành công. Bây giờ bạn có thể đăng
          nhập bằng mật khẩu mới
        </p>
      </div>

      <a class="go-to-login-button primary-button" href="/auth/login"
        >Quay lại trang đăng nhập</a
      >
    </div>
  </body>
</html>
