<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>User</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/user">User</a></li>
      <li>Details</li>
    </ul>

    <div class="user-container">
      <h1 class="title">User "<span th:text="${user.firstName + ' ' + user.lastName}"></span>"</h1>

      <div class="description-list-container">
        <dl class="row">
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Avatar:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="avatar-container" th:if="${user.avatar == null or user.avatar.isEmpty()}">
              <img th:src="@{/images/default-avatar.png}" alt="avatar">
            </div>
            <div class="avatar-container" th:if="${user.avatar != null and !user.avatar.isEmpty()}">
              <img th:src="${'/' + resourcesMappingFolder + '/' + avatarsFolder + '/' + user.avatar}" alt="avatar" />
            </div>
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            ID:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.id}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            First name:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.firstName}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Last name:
          </dt>

          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.lastName}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Email:
          </dt>

          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.email}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Phone:
          </dt>

          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.phone}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Role:
          </dt>

          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${user.role?.name}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Created at:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Updated at:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(user.updatedAt, 'dd-MM-yyyy HH:mm')}">
          </dd>
        </dl>
        <div class="actions">
          <a href="/dashboard/user" class="back-button">Back</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>