<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/admin/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bán chạy</title>
</head>

<body>
<div
        class="product product-list"
        layout:fragment="content"
        th:with="sortDirectionEnum=${T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum)},
               stockStatusEnum=${T(com.laptopstore.ecommerce.util.constant.StockStatusEnum)},
               productClass=${T(com.laptopstore.ecommerce.model.Product)},
               priceUtils=${T(com.laptopstore.ecommerce.util.PriceUtils)},
               dateTimeUtils=${T(com.laptopstore.ecommerce.util.DateTimeUtils)},
               paginationUtils=${T(com.laptopstore.ecommerce.util.PaginationUtils)},
               productPredicates=${T(com.laptopstore.ecommerce.specification.predicate.ProductPredicates)}
        "
>
    <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li>Bán chạy</li>
        </ul>

        <div class="product-list-content product-content card">
            <div class="content-title">Bán chạy</div>

            <!-- header -->
            <div class="content-header">
                <!-- control panel -->
                <form class="control-panel-form" method="get" th:action="@{/dashboard/top-selling}">
                    <!-- filters -->
                    <div class="filters">
                        <button class="show-modal-button show-filters-button primary-button" data-show="filtersModal"
                                type="button">
                            <i class="fa-solid fa-filter"></i>
                            Bộ lọc
                            <span class="filter-number warning-badge" th:if="${productFilterDto.getFilterCount() > 0}"
                                  th:text="${productFilterDto.getFilterCount()}"></span>
                        </button>
                        <div id="filtersModal" class="filters-modal modal">
                            <div class="filters-modal-header modal-header">
                                <div class="header-title">Bộ lọc</div>
                                <button type="button" class="hide-modal-button" data-hide="filtersModal"><i
                                        class="fa-solid fa-xmark"></i></button>
                            </div>

                            <div class="filters-modal-body modal-body">
                                <div class="filter-section">
                                    <h2 class="filter-label">Danh mục:</h2>
                                    <div class="filter-options">
                                        <div class="filter-check-group" th:each="category: ${response.data.categories}">
                                            <input type="checkbox" name="categories"
                                                   th:id="${'category#' + category.slug}" th:value="${category.slug}"
                                                   th:checked="${productFilterDto?.categories?.contains(category.slug)}"/>
                                            <label th:for="${'category#' + category.slug}"
                                                   th:text="${category.name}"></label>
                                        </div>
                                        <div class="filter-check-group">
                                            <input type="checkbox" name="categories" id="category#other"
                                                   value="${productPredicates.OTHER_NAME}"
                                                   th:checked="${productFilterDto?.categories?.contains(productPredicates.OTHER_NAME)}"/>
                                            <label for="category#other">Khác</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-section">
                                    <h2 class="filter-label">Thương hiệu:</h2>
                                    <div class="filter-options">
                                        <div class="filter-check-group" th:each="brand: ${response.data.brands}">
                                            <input type="checkbox" name="brands" th:id="${'brand#' + brand.slug}"
                                                   th:value="${brand.slug}"
                                                   th:checked="${productFilterDto?.brands?.contains(brand.slug)}"/>
                                            <label th:for="${'brand#' + brand.slug}" th:text="${brand.name}"></label>
                                        </div>
                                        <div class="filter-check-group">
                                            <input type="checkbox" name="brands" id="brand#other"
                                                   value="${productPredicates.OTHER_NAME}"
                                                   th:checked="${productFilterDto?.brands?.contains(productPredicates.OTHER_NAME)}"/>
                                            <label for="brand#other">Khác</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-section">
                                    <h2 class="filter-label">Tình trạng kho:</h2>
                                    <div class="filter-options">
                                        <div class="filter-check-group">
                                            <input type="radio" id="allStockStatus" name="stockStatus"
                                                   th:value="${stockStatusEnum.ALL.name()}" checked
                                                   th:checked="${productFilterDto.getEnumStockStatus() != null and productFilterDto.getEnumStockStatus().equals(stockStatusEnum.ALL)}"/>
                                            <label for="allStockStatus"
                                                   th:text="${stockStatusEnum.ALL.displayName}"></label>
                                        </div>

                                        <div class="filter-check-group">
                                            <input type="radio" id="inStock" name="stockStatus"
                                                   th:value="${stockStatusEnum.IN_STOCK.name()}"
                                                   th:checked="${productFilterDto.getEnumStockStatus() != null and productFilterDto.getEnumStockStatus().equals(stockStatusEnum.IN_STOCK)}"/>
                                            <label for="inStock" th:text="${stockStatusEnum.IN_STOCK.displayName}">Còn
                                                hàng</label>
                                        </div>

                                        <div class="filter-check-group">
                                            <input type="radio" id="outOfStock" name="stockStatus"
                                                   th:value="${stockStatusEnum.OUT_OF_STOCK.name()}"
                                                   th:checked="${productFilterDto.getEnumStockStatus() != null and productFilterDto.getEnumStockStatus().equals(stockStatusEnum.OUT_OF_STOCK)}"/>
                                            <label for="outOfStock"
                                                   th:text="${stockStatusEnum.OUT_OF_STOCK.displayName}">Hết
                                                hàng</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-section"
                                     th:with="discountPriceRange=${priceUtils.getValidPriceRange(productFilterDto.getDoubleMinDiscountPrice, productFilterDto.getDoubleMaxDiscountPrice, productFilterDto.MIN_PRICE, productFilterDto.MAX_PRICE)}">
                                    <h2 class="filter-label">Giá tiền khuyến mãi:</h2>
                                    <div class="filter-options">
                                        <div class="filter-input-group">
                                            <label for="minDiscountPrice">Từ: </label>
                                            <input type="text" name="minDiscountPrice" class="price-input"
                                                   id="minDiscountPrice"
                                                   th:value="${!discountPriceRange.isEmpty() ? discountPriceRange.get('min') : productFilterDto.MIN_PRICE}"/>
                                        </div>

                                        <div class="filter-input-group">
                                            <label for="maxDiscountPrice">Đến: </label>
                                            <input type="text" name="maxDiscountPrice" class="price-input"
                                                   id="maxDiscountPrice"
                                                   th:value="${!discountPriceRange.isEmpty() ? discountPriceRange.get('max') : productFilterDto.MAX_PRICE}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-section"
                                     th:with="priceRange=${priceUtils.getValidPriceRange(productFilterDto.getDoubleMinPrice(), productFilterDto.getDoubleMaxPrice, productFilterDto.MIN_PRICE, productFilterDto.MAX_PRICE)}">
                                    <h2 class="filter-label">Giá tiền:</h2>
                                    <div class="filter-options">
                                        <div class="filter-input-group">
                                            <label for="minPrice">Từ: </label>
                                            <input type="text" name="minPrice" class="price-input" id="minPrice"
                                                   th:value="${!priceRange.isEmpty() ? priceRange.get('min') : productFilterDto.MIN_PRICE}"/>
                                        </div>

                                        <div class="filter-input-group">
                                            <label for="maxPrice">Đến: </label>
                                            <input type="text" name="maxPrice" class="price-input" id="maxPrice"
                                                   th:value="${!priceRange.isEmpty() ? priceRange.get('max') : productFilterDto.MAX_PRICE}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-section"
                                     th:with="instantRange=${dateTimeUtils.getValidInstantRange(productFilterDto.getInstantStartDate(), productFilterDto.getInstantEndDate())}">
                                    <h2 class="filter-label">khoảng thời gian:</h2>
                                    <div class="filter-options">
                                        <div class="filter-input-group">
                                            <label for="startDate">Từ: </label>
                                            <input type="date" name="startDate" class="date-select" id="startDate"
                                                   th:value="${!instantRange.isEmpty() ? #temporals.format(instantRange.get('startDate'), 'yyyy-MM-dd') : null }"/>
                                        </div>

                                        <div class="filter-input-group">
                                            <label for="endDate">Đến: </label>
                                            <input type="date" name="endDate" class="date-select" id="endDate"
                                                   th:value="${!instantRange.isEmpty() ? #temporals.format(instantRange.get('endDate'), 'yyyy-MM-dd') : null }"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filters-modal-footer modal-footer">
                                <button type="submit" class="filters-apply-button primary-button">Áp dụng</button>
                                <a class="filters-reset-button secondary-button"
                                   th:href="@{/dashboard/top-selling(
                                        page=1,
                                        limit=${productFilterDto.getLimit()},
                                        search=${productFilterDto.search}
                                   )}"
                                >
                                    Đặt lại
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- limit -->
                    <div class="limit">
                        <label class="limit-label" for="limit">Giới hạn:</label>
                        <select class="limit-select" name="limit" id="limit" onchange="this.form.submit()">
                            <option th:value="10" th:selected="${productFilterDto.getIntegerLimit() == 10}">10</option>
                            <option th:value="20" th:selected="${productFilterDto.getIntegerLimit() == 20}">20</option>
                            <option th:value="40" th:selected="${productFilterDto.getIntegerLimit() == 40}">40</option>
                            <option th:value="80" th:selected="${productFilterDto.getIntegerLimit() == 80}">80</option>
                        </select>
                    </div>

                    <!-- search -->
                    <div class="search">
                        <label style="display: none" for="search"></label>
                        <input class="search-input" type="text" name="search" id="search"
                               th:value="${productFilterDto.search}" placeholder="Tên sản phẩm..."/>
                        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- search summary -->
            <div class="search-summary" th:if="${!#strings.isEmpty(productFilterDto.search)}">
                <p class="search-message">
                    <span class="search-result-count" th:text="${response.totalItem}">
                    </span> Kết qua cho "<span class="search-value" th:text="${productFilterDto.search}"></span>"
                </p>
                <a class="search-reset-link"
                   th:href="@{/dashboard/top-selling(
                                page=1,
                                limit=${productFilterDto.getLimit()},
                                search='',
                                brands=${productFilterDto.brands},
                                categories=${productFilterDto.categories},
                                maxPrice=${productFilterDto.maxPrice},
                                minPrice=${productFilterDto.minPrice},
                                maxDiscountPrice=${productFilterDto.maxDiscountPrice},
                                minDiscountPrice=${productFilterDto.minDiscountPrice},
                                startDate = ${productFilterDto.startDate},
                                endDate = ${productFilterDto.endDate},
                                stockStatus = ${productFilterDto.stockStatus}
                )}">
                    Đặt lại
                </a>
            </div>

            <div class="no-result"
                 th:if="${response.data.customProducts == null or #lists.isEmpty(response.data.customProducts)}">
                <p>Không có sản phẩm nào nào</p>
            </div>

            <!-- table -->
            <div class="content-table table-container" th:if="${response.data.customProducts != null and !#lists.isEmpty(response.data.customProducts)}">
                <table class="table">
                    <thead>
                    <tr class="table-header-row">
                        <th class="table-header-cell col-width-2">Hình ảnh</th>
                        <th class="table-header-cell col-width-5">Tên</th>
                        <th class="table-header-cell col-width-2">Đã bán</th>
                        <th class="table-header-cell col-width-2">Tồn kho</th>
                        <th class="table-header-cell col-width-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-body-row" th:each="product : ${response.data.customProducts}">
                        <td class="table-body-cell">
                            <span th:if="${product.productImage == null or #strings.isEmpty(product.productImage.imageName)}">N/A</span>
                            <div class="product-image" th:if="${product.productImage != null and !#strings.isEmpty(product.productImage.imageName)}">
                                <img th:src="${'/' + resourcesMappingFolder + '/' + productImagesFolder + '/' + product.productImage.imageName}" th:alt="${product.productImage.imageName}"/>
                            </div>
                        </td>

                        <td class="table-body-cell">
                            <span class="cell-text" th:text="${!#strings.isEmpty(product.name) ? product.name : 'N/A'}"></span>
                        </td>

                        <td class="table-body-cell">
                            <span class="cell-text" th:text="${product.sold != null ? product.sold : 'N/A'}"></span>
                        </td>

                        <td class="table-body-cell">
                            <span class="cell-text" th:text="${product.quantity != null ? product.quantity : 'N/A'}"></span>
                        </td>

                        <td class="table-body-cell">
                            <div class="table-row-actions">
                                <a class="view-button primary-button" th:href="@{/dashboard/product/details/{productId}(productId=${product.id})}">Xem</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination -->
            <ul class="pagination" th:if="${response.totalPages > 1}">
                <!-- Previous Page -->
                <li class="pagination-item">
                    <a class="button previous-page-button"
                       th:href="@{/dashboard/top-selling(
                            page=${response.currentPage - 1},
                            limit=${productFilterDto.getLimit()},
                            search=${productFilterDto.search},
                            brands=${productFilterDto.brands},
                            categories=${productFilterDto.categories},
                            maxPrice=${productFilterDto.maxPrice},
                            minPrice=${productFilterDto.minPrice},
                            maxDiscountPrice=${productFilterDto.maxDiscountPrice},
                            minDiscountPrice=${productFilterDto.minDiscountPrice},
                            startDate = ${productFilterDto.startDate},
                            endDate = ${productFilterDto.endDate},
                            stockStatus = ${productFilterDto.stockStatus}
                        )}"
                       th:classappend="${response.currentPage <= 1 ? 'disabled' : ''}"
                    >
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>

                <!-- Page Numbers -->
                <li class="pagination-item"
                    th:each="pageNumber : ${#numbers.sequence(1, response.totalPages)}">
                    <a class="button page-number-button"
                       th:href="@{/dashboard/top-selling(
                            page=${pageNumber},
                            limit=${productFilterDto.getLimit()},
                            search=${productFilterDto.search},
                            brands=${productFilterDto.brands},
                            categories=${productFilterDto.categories},
                            maxPrice=${productFilterDto.maxPrice},
                            minPrice=${productFilterDto.minPrice},
                            maxDiscountPrice=${productFilterDto.maxDiscountPrice},
                            minDiscountPrice=${productFilterDto.minDiscountPrice},
                            startDate = ${productFilterDto.startDate},
                            endDate = ${productFilterDto.endDate},
                            stockStatus = ${productFilterDto.stockStatus}
                         )}"
                       th:classappend="${response.currentPage == pageNumber ? 'active' : ''}"
                       th:text="${pageNumber}">
                    </a>
                </li>

                <!-- Next Page -->
                <li class="pagination-item">
                    <a class="button next-page-button"
                       th:href="@{/dashboard/top-selling(
                            page=${response.currentPage + 1},
                            limit=${productFilterDto.getLimit()},
                            search=${productFilterDto.search},
                            brands=${productFilterDto.brands},
                            categories=${productFilterDto.categories},
                            maxPrice=${productFilterDto.maxPrice},
                            minPrice=${productFilterDto.minPrice},
                            maxDiscountPrice=${productFilterDto.maxDiscountPrice},
                            minDiscountPrice=${productFilterDto.minDiscountPrice},
                            startDate = ${productFilterDto.startDate},
                            endDate = ${productFilterDto.endDate},
                            stockStatus = ${productFilterDto.stockStatus}
                         )}"
                       th:classappend="${response.currentPage >= response.totalPages ? 'disabled' : ''}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
