<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">ShopLap</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/libraries/jquery-toast-plugin/jquery.toast.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/admin/style.css" />
    <link rel="stylesheet" href="/css/admin/layout.css" />
    <link rel="stylesheet" href="/css/admin/dashboard.css" />
    <link rel="stylesheet" href="/css/admin/brand.css" />
    <link rel="stylesheet" href="/css/admin/category.css" />
    <link rel="stylesheet" href="/css/admin/user.css" />
    <link rel="stylesheet" href="/css/admin/role.css" />
    <link rel="stylesheet" href="/css/admin/product.css" />
    <link rel="stylesheet" href="/css/admin/order.css" />
</head>
<body>
    <div class="main-container">
        <!--overlay-->
        <div class="overlay"></div>

        <!-- sidebar -->
        <div th:replace="/admin/layout/sidebar"></div>

        <!-- main content -->
        <div class="main-content">
            <!-- header -->
            <div th:replace="/admin/layout/header"></div>

            <!-- main -->
            <main>
                <div class="message-container">
                    <p class="message success-message"
                       th:if="${successMessage != null and !successMessage.isEmpty()}"
                       th:text="${successMessage}">
                    </p>
                    <p class="message error-message"
                       th:if="${errorMessage != null and !errorMessage.isEmpty()}"
                       th:text="${errorMessage}">
                    </p>
                </div>
                <div layout:fragment="content"></div>
            </main>

            <!-- footer -->
            <div th:replace="/admin/layout/footer"></div>
        </div>

    </div>
</body>
    <script src="/libraries/jquery/jquery.js"></script>
    <script src="/libraries/jquery-toast-plugin/jquery.toast.js"></script>
    <script type="module" src="/js/admin/category.js"></script>
    <script type="module" src="/js/admin/product.js"></script>
    <script type="module" src="/js/admin/order.js"></script>
    <script src="/js/admin/main.js"></script>
</html>