.row {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}
@media (max-width: 576px) {
    .row .col-xs-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-12 {
        width: 100%;
        padding: 8px;
    }
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
main .container .account-wrapper {
    background-color: #fff;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
main .container .account-wrapper .input-group {
    display: flex;
}
@media (max-width: 576px) {
    main .container .account-wrapper .input-group {
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media (min-width: 576px) {
    main .container .account-wrapper .input-group {
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media (min-width: 768px) {
    main .container .account-wrapper .input-group {
        flex-wrap: nowrap;
        gap: 0;
    }
}
@media (min-width: 992px) {
    main .container .account-wrapper .input-group {
        flex-wrap: nowrap;
        gap: 0;
    }
}
@media (min-width: 1200px) {
    main .container .account-wrapper .input-group {
        flex-wrap: nowrap;
        gap: 0;
    }
}
main .container .account-wrapper .input-group .input-group-control {
    width: 100%;
}
main .container .account-wrapper .input-group .input-group-control .error-message {
    color: #dc4c64;
    font-size: 1.5rem;
}
main .container .account-wrapper .input-group .image-input-group .error-message {
    color: #dc4c64;
    font-size: 1.5rem;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper {
    width: 120px;
    height: 120px;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.avatar {
    border-radius: 50%;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.avatar .image-upload-control label {
    border-radius: 50%;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.avatar .image-preview .image-preview-item {
    border-radius: 50%;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.avatar .image-preview .image-preview-item .image-edit-button {
    transform: translateX(4px) translateY(0px);
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.avatar .image-preview .image-preview-item img {
    border-radius: 50%;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper.error {
    border: 1px solid #dc4c64;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-upload-control.hide {
    display: none;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-upload-control label {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
    font-size: 3rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 247);
    cursor: pointer;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-upload-control input {
    display: none;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview {
    display: flex;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item .image-edit-button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #e4a11b;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translateX(15px) translateY(-10px);
    cursor: pointer;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item .image-edit-button i {
    font-size: 1.25rem;
    color: white;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item .image-remove-button {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #dc4c64;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translateX(10px) translateY(-10px);
    cursor: pointer;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item .image-remove-button i {
    font-size: 1.5rem;
    color: white;
}
main .container .account-wrapper .input-group .image-input-group .image-upload-wrapper .image-preview .image-preview-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
main .container .account-wrapper .input-group label {
    font-size: 1.5rem;
    color: #333;
    width: 100%;
    max-width: 300px;
}
main .container .account-wrapper .input-group input:not([type=file]),
main .container .account-wrapper .input-group textarea {
    padding: 8px 16px;
    font-size: 1.5rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: #333;
    width: 100%;
    border-radius: 10px;
}
main .container .account-wrapper .input-group input:not([type=file]).error,
main .container .account-wrapper .input-group textarea.error {
    border: 1px solid #dc4c64;
}
main .container .account-wrapper .actions {
    display: flex;
    justify-content: start;
}
@media (max-width: 576px) {
    main .container .account-wrapper .actions {
        flex-direction: column;
        gap: 10px;
    }
}
@media (min-width: 576px) {
    main .container .account-wrapper .actions {
        flex-direction: column;
        gap: 10px;
    }
}
@media (min-width: 768px) {
    main .container .account-wrapper .actions {
        flex-direction: row;
        gap: 0;
    }
}
@media (min-width: 992px) {
    main .container .account-wrapper .actions {
        flex-direction: row;
        gap: 0;
    }
}
@media (min-width: 1200px) {
    main .container .account-wrapper .actions {
        flex-direction: row;
        gap: 0;
    }
}
main .container .account-wrapper .actions .empty {
    width: 100%;
    max-width: 300px;
}
main .container .account-wrapper .actions button {
    display: inline-block;
    background-color: #3b71ca;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}
@media (max-width: 576px) {
    main .container .account-wrapper .actions button {
        margin-right: 0;
    }
}
@media (min-width: 576px) {
    main .container .account-wrapper .actions button {
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    main .container .account-wrapper .actions button {
        margin-right: 10px;
    }
}
@media (min-width: 992px) {
    main .container .account-wrapper .actions button {
        margin-right: 10px;
    }
}
@media (min-width: 1200px) {
    main .container .account-wrapper .actions button {
        margin-right: 10px;
    }
}
main .container .account-wrapper .actions .save-button {
    display: inline-block;
    background-color: #3b71ca;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
main .container .account-wrapper .actions .save-button:hover {
    transform: scale(1.05);
}
main .container .account-wrapper .actions .back-button {
    display: inline-block;
    background-color: #9fa6b2;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
main .container .account-wrapper .actions .back-button:hover {
    transform: scale(1.05);
}/*# sourceMappingURL=account.css.map */