.row {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}
@media (max-width: 576px) {
    .row .col-xs-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-12 {
        width: 100%;
        padding: 8px;
    }
}

.table-row .col-width-1 {
    min-width: 70.8333333333px;
}
.table-row .col-width-2 {
    min-width: 141.6666666667px;
}
.table-row .col-width-3 {
    min-width: 212.5px;
}
.table-row .col-width-4 {
    min-width: 283.3333333333px;
}
.table-row .col-width-5 {
    min-width: 354.1666666667px;
}
.table-row .col-width-6 {
    min-width: 425px;
}
.table-row .col-width-7 {
    min-width: 495.8333333333px;
}
.table-row .col-width-8 {
    min-width: 566.6666666667px;
}
.table-row .col-width-9 {
    min-width: 637.5px;
}
.table-row .col-width-10 {
    min-width: 708.3333333333px;
}
.table-row .col-width-11 {
    min-width: 779.1666666667px;
}
.table-row .col-width-12 {
    min-width: 850px;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
main .container .order-history-wrapper {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
main .container .order-history-wrapper .title {
    font-size: 2rem;
    color: #333;
}
main .container .order-history-wrapper .filters-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
main .container .order-history-wrapper .filters-wrapper .limit {
    display: flex;
    align-items: center;
    gap: 8px;
}
main .container .order-history-wrapper .filters-wrapper .limit label {
    font-size: 1.5rem;
    color: #333;
}
main .container .order-history-wrapper .filters-wrapper .limit select {
    padding: 8px 16px;
    font-size: 1.5rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: #333;
    border-radius: 10px;
}
main .container .order-history-wrapper .filters-wrapper .search {
    position: relative;
}
main .container .order-history-wrapper .filters-wrapper .search .search-box {
    padding: 8px 36px 8px 16px;
    font-size: 1.5rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: #333;
    border-radius: 10px;
}
main .container .order-history-wrapper .filters-wrapper .search .search-button {
    display: inline-block;
    background-color: transparent;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
main .container .order-history-wrapper .filters-wrapper .search .search-button i {
    color: #333;
}
@media (max-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter {
        position: unset;
    }
}
@media (min-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter {
        position: unset;
    }
}
@media (min-width: 768px) {
    main .container .order-history-wrapper .filters-wrapper .filter {
        position: relative;
    }
}
@media (min-width: 992px) {
    main .container .order-history-wrapper .filters-wrapper .filter {
        position: relative;
    }
}
@media (min-width: 1200px) {
    main .container .order-history-wrapper .filters-wrapper .filter {
        position: relative;
    }
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-toggle {
    display: flex;
    background-color: #3b71ca;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    align-items: center;
    gap: 6px;
    border-radius: 50px;
    transition: 0.3s;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-toggle i {
    font-size: 1.5rem;
    color: white;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-toggle:hover {
    transform: scale(1.125);
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-toggle .filter-number {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    background-color: #e4a11b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
    z-index: 999;
    transition: 0.3s;
    border-radius: 10px;
}
@media (max-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
        display: flex;
        flex-direction: column;
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
        transform: translateY(-100%);
    }
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu.show {
        transform: translateY(0);
    }
}
@media (min-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
        display: flex;
        flex-direction: column;
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
        transform: translateY(-100%);
    }
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu.show {
        transform: translateY(0);
    }
}
@media (min-width: 768px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
        display: none;
        width: 600px;
        top: 100%;
        bottom: auto;
        left: auto;
        right: auto;
        transform: unset;
    }
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu.show {
        display: block;
        transform: translateY(10px);
    }
}
@media (min-width: 992px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
        display: none;
        width: 700px;
        top: 100%;
        bottom: auto;
        left: auto;
        right: auto;
        transform: unset;
    }
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu.show {
        display: block;
        transform: translateY(10px);
    }
}
@media (min-width: 1200px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu {
        display: none;
        width: 800px;
        top: 100%;
        bottom: auto;
        left: auto;
        right: auto;
        transform: unset;
    }
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu.show {
        display: block;
        transform: translateY(10px);
    }
}
@media (max-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .popover-pointer {
        display: none;
    }
}
@media (min-width: 576px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .popover-pointer {
        display: none;
    }
}
@media (min-width: 768px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .popover-pointer {
        display: block;
    }
}
@media (min-width: 992px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .popover-pointer {
        display: block;
    }
}
@media (min-width: 1200px) {
    main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .popover-pointer {
        display: block;
    }
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .header h3 {
    font-size: 2rem;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .header .close-filter-button {
    display: flex;
    background-color: #9fa6b2;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .header .close-filter-button i {
    font-size: 1.5rem;
    color: white;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .header .close-filter-button:hover {
    transform: scale(1.125);
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow-y: auto;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body h4 {
    font-size: 1.5rem;
    color: #333;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section label {
    font-size: 1.5rem;
    color: #333;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section input {
    padding: 6px 12px;
    font-size: 1.5rem;
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: #333;
    border-radius: 50px;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section .filter-option input {
    display: none;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section .filter-option label {
    display: inline-block;
    border: 1px solid rgba(51, 51, 51, 0.15);
    border-radius: 50px;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section .filter-option label:hover {
    border: 1px solid #3b71ca;
    color: #3b71ca;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .body .filter-section .filter-option input:checked + label {
    border: 1px solid #3b71ca;
    color: #3b71ca;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    width: 100%;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .footer .reset-button {
    display: inline-block;
    background-color: #dc4c64;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .footer .reset-button:hover {
    transform: scale(1.125);
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .footer .apply-button {
    display: inline-block;
    background-color: #3b71ca;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
main .container .order-history-wrapper .filters-wrapper .filter .filter-menu .footer .apply-button:hover {
    transform: scale(1.125);
}
main .container .order-history-wrapper .table-wrapper {
    overflow-y: auto;
}
main .container .order-history-wrapper .table-wrapper table {
    border-collapse: collapse;
    width: 100%;
}
main .container .order-history-wrapper .table-wrapper table th,
main .container .order-history-wrapper .table-wrapper table td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    font-size: 1.5rem;
    text-align: start;
    color: #333;
}
main .container .order-history-wrapper .table-wrapper table th span,
main .container .order-history-wrapper .table-wrapper table td span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .container .order-history-wrapper .table-wrapper table tHead tr {
    border-bottom: 1px solid rgba(87, 88, 100, 0.2);
}
main .container .order-history-wrapper .table-wrapper table tBody tr:not(:last-child) {
    border-bottom: 1px solid rgba(87, 88, 100, 0.2);
}
main .container .order-history-wrapper .table-wrapper table .view-button {
    display: inline-block;
    background-color: transparent;
    color: #3b71ca;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
}
main .container .order-history-wrapper .table-wrapper table .view-button:hover {
    background-color: #3b71ca;
    color: white;
}/*# sourceMappingURL=order_history.css.map */