@charset "UTF-8";
.row {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}
@media (max-width: 576px) {
    .row .col-xs-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (max-width: 576px) {
    .row .col-xs-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 576px) {
    .row .col-sm-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .row .col-md-12 {
        width: 100%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-1 {
        width: 8.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-2 {
        width: 16.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-3 {
        width: 25%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-4 {
        width: 33.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-5 {
        width: 41.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-6 {
        width: 50%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-7 {
        width: 58.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-8 {
        width: 66.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-9 {
        width: 75%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-10 {
        width: 83.3333333333%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-11 {
        width: 91.6666666667%;
        padding: 8px;
    }
}
@media (min-width: 992px) {
    .row .col-lg-12 {
        width: 100%;
        padding: 8px;
    }
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}
@media (max-width: 576px) {
    .container {
        padding: 0px 16px;
    }
}
@media (min-width: 576px) {
    .container {
        padding: 0px 16px;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 0px 16px;
    }
}
@media (min-width: 992px) {
    .container {
        padding: 0px 16px;
    }
}
@media (min-width: 1200px) {
    .container {
        padding: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(245, 245, 247);
}

.dropdown {
    position: relative;
}
.dropdown .dropdown-menu {
    display: none;
    right: 0;
    top: 100%;
    transform: translateY(10px);
    min-width: 160px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
    overflow: hidden;
    background-color: #fff;
}
.dropdown .dropdown-menu li a {
    display: inline-block;
    padding: 8px 10px;
    width: 100%;
    color: #333;
    font-size: 1.5rem;
    transition: 0.3s;
}
.dropdown .dropdown-menu li a:hover {
    background: #3b71ca;
    color: white;
}
.dropdown .dropdown-menu li a.active {
    background: #3b71ca;
    color: white;
}

.breadcrumb {
    margin-top: 16px;
    list-style: none;
}
.breadcrumb li {
    display: inline;
    font-size: 1.5rem;
}
.breadcrumb li::before {
    padding: 8px;
    color: #9fa6b2;
    content: "/ ";
}
.breadcrumb li:first-child::before {
    padding: 0;
    content: "";
}
.breadcrumb li a {
    color: #3b71ca;
}

.popover {
    position: relative;
    display: inline-block;
}
.popover .popover-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 16px;
    top: 100%;
    transform: translateY(10px);
}
.popover .popover-menu .popover-pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: 0;
    transform: translateY(-50%) rotate(45deg);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pagination li {
    padding: 4px;
}
.pagination li a {
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
    transition: 0.3s;
}
.pagination li a:hover {
    background-color: #3b71ca;
    color: white;
    transform: scale(1.125);
}
.pagination li a.active {
    background-color: #3b71ca;
    color: white;
}
.pagination li .previous.disabled,
.pagination li .next.disabled {
    background-color: #9fa6b2;
    color: white;
    pointer-events: none;
    cursor: default;
}

.product-card {
    background-color: #fff;
    height: 100%;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: rgba(108, 111, 115, 0.1) 0px 2px 4px 0px;
}
.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
    transform: scale(1.025);
}
.product-card .product-image-wrapper {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
.product-card .product-image-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.product-card .product-name {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card .product-price-wrapper {
    margin-top: auto;
}
.product-card .product-price-wrapper .discount-price {
    font-size: 1.75rem;
    font-weight: 500;
    color: #3b71ca;
}
.product-card .product-price-wrapper .discount-ratio {
    display: flex;
    gap: 8px;
}
.product-card .product-price-wrapper .discount-ratio .old-price {
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9fa6b2;
}
.product-card .product-price-wrapper .discount-ratio .discount-ratio-value {
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 500;
    background-color: #dc4c64;
    color: white;
    border-radius: 8px;
    padding: 0px 8px;
}
.product-card .product-price-wrapper .add-to-cart-button {
    margin-top: 10px;
    display: inline-block;
    background-color: #3b71ca;
    color: white;
    padding: 8px 16px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}
.product-card .product-price-wrapper .add-to-cart-button:hover {
    transform: scale(1.125);
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.25);
}

.search-result-wrapper .search-result-message {
    display: inline-block;
    font-size: 1.75rem;
    color: #333;
    margin-right: 10px;
}
.search-result-wrapper .search-result-message span {
    color: #3b71ca;
}
.search-result-wrapper .search-result-reset {
    font-size: 1.75rem;
    color: #dc4c64;
}

.order-status {
    font-weight: 500;
}
.order-status.pending-status {
    color: #e4a11b !important;
}
.order-status.confirmed-status {
    color: #54b4d3 !important;
}
.order-status.shipping-status {
    color: #3b71ca !important;
}
.order-status.delivered-status {
    color: #14a44d !important;
}
.order-status.cancelled-status {
    color: #dc4c64 !important;
}

.error-message {
    color: #dc4c64;
    font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */