<div id="sidebar">
  <div class="sidebar-top">
    <button id="btnCloseSideBar" class="close-sidebar-button">
      <i class="fa-solid fa-bars"></i>
    </button>
    <h1 class="logo">SHOPLAP</h1>
  </div>
  <div class="sidebar-bottom">
    <div class="input-with-icon">
      <input type="text" class="search-box" placeholder="Search here..." />
      <button class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i>Home</a>
      </li>
      <li>
        <a href="/shop"><i class="fa-solid fa-cart-shopping"></i>Shop</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-circle-exclamation"></i>About</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-phone"></i>Contact</a>
      </li>
    </ul>
  </div>
</div>
