<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Brand</title>
</head>

<body>
    <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard/brand">Brand</a></li>
            <li>Details</li>
        </ul>

        <div class="brand-container">
            <h1 class="title">Brand "<span th:text="${brand.name}"></span>"</h1>

            <div class="description-list-container">
                <dl class="row">
                    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        ID:
                    </dt>
                    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${brand.id}">
                    </dd>
                    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        Name:
                    </dt>
                    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${brand.name}">
                    </dd>
                    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        Description:
                    </dt>
                    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${brand.description}">
                    </dd>
                    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        Created at:
                    </dt>
                    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(brand.createdAt, 'dd-MM-yyyy HH:mm')}">
                    </dd>
                    <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        Updated at:
                    </dt>
                    <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(brand.createdAt, 'dd-MM-yyyy HH:mm')}">
                    </dd>
                </dl>
                <div class="actions">
                    <a th:href="@{/dashboard/brand/edit/{id}(id=${brand.id})}" class="edit-button">Edit</a>
                    <a href="/dashboard/brand" class="back-button">Back</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>