<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Brand</title>
</head>

<body>
    <div class="container-fluid" layout:fragment="content">
      <!-- breadcrumb -->
      <ul class="breadcrumb">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/brand">Brand</a></li>
        <li>Edit</li>
      </ul>

      <div class="brand-container">
        <h1 class="title">Edit brand "<span th:text="${updateBrandDto.name}"></span>"</h1>
        <form method="post" th:action="@{/dashboard/brand/edit/{id}(id=${updateBrandDto.id})}" class="edit-brand-form" th:object="${updateBrandDto}">
          <div class="input-group">
            <label for="name">Name: </label>
            <div class="input-group-control">
              <input
                      type="text"
                      name="name"
                      id="name"
                      th:value="${updateBrandDto.name}"
                      placeholder="Brand name"
                      required
                      th:classappend="${#fields.hasErrors('name') ? 'error' : ''}"
                      th:field="${updateBrandDto.name}"
              />
              <span id="nameError" class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="${updateBrandDto.name}"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="description">Description: </label>
            <div class="input-group-control">
              <textarea
                      name="description"
                      id="description"
                      rows="5"
                      th:text="${updateBrandDto.description}"
                      placeholder="Brand description"
                      th:classappend="${#fields.hasErrors('description') ? 'error' : ''}"
                      th:field="${updateBrandDto.description}"
              ></textarea>
              <span id="descriptionError" class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="${updateBrandDto.description}"></span>
            </div>
          </div>
          <div class="actions">
            <div class="empty"></div>
            <button type="submit" class="save-button">Save</button>
            <a href="/dashboard/brand" class="back-button">Back</a>
          </div>
        </form>
      </div>
    </div>
</body>

</html>