<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/admin/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Thương hiệu</title>
</head>

<body>
<div
        class="brand brand-list"
        layout:fragment="content"
        th:with="sortDirectionEnum=${T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum)},
               brandClass=${T(com.laptopstore.ecommerce.model.Brand)},
               paginationUtils=${T(com.laptopstore.ecommerce.util.PaginationUtils)}"
>
    <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li>Thương hiệu</li>
        </ul>

        <!-- brand list content -->
        <div class="brand-list-content brand-content content card"
             th:with="validSortBy=${paginationUtils.getValidSortBy(brandClass, brandFilterDto.sortBy, brandClass.DEFAULT_SORT_FIELD)}">
            <h1 class="content-title">Thương hiệu</h1>

            <!-- control panel -->
            <form class="control-panel-form" th:action="@{/dashboard/brand}" method="get">
                <input type="hidden" name="sortBy" th:value="${validSortBy}"/>

                <input type="hidden" name="sortDirection" th:value="${brandFilterDto.getEnumSortDirection()}"/>

                <!-- limit -->
                <div class="limit">
                    <label class="limit-label" for="limit">Giới hạn:</label>
                    <select class="limit-select" name="limit" id="limit" onchange="this.form.submit()">
                        <option th:value="10" th:selected="${brandFilterDto.getIntegerLimit() == 10}">10</option>
                        <option th:value="20" th:selected="${brandFilterDto.getIntegerLimit() == 20}">20</option>
                        <option th:value="40" th:selected="${brandFilterDto.getIntegerLimit() == 40}">40</option>
                        <option th:value="80" th:selected="${brandFilterDto.getIntegerLimit() == 80}">80</option>
                    </select>
                </div>

                <!-- search -->
                <div class="search">
                    <label style="display: none" for="search"></label>
                    <input class="search-input" type="text" name="search" id="search"
                           th:value="${brandFilterDto.search}" placeholder="Tên thương hiệu..."/>
                    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

                <a class="create-button primary-button" href="/dashboard/brand/create"><i
                        class="brand-list__create-icon fa-solid fa-plus"></i>Thêm</a>
            </form>

            <!-- search summary -->
            <div class="search-summary" th:if="${!#strings.isEmpty(brandFilterDto.search)}">
                <p class="search-message">
                    <span class="search-result-count" th:text="${response.totalItem}">
                    </span> Kết qua cho "<span class="search-value" th:text="${brandFilterDto.search}"></span>"
                </p>
                <a class="search-reset-link"
                   th:href="@{/dashboard/brand(
                        page=1,
                        sortBy=${validSortBy},
                        sortDirection=${brandFilterDto.sortDirection},
                        limit=${brandFilterDto.getLimit()},
                        search=''
                    )}">
                    Đặt lại
                </a>
            </div>

            <div class="no-result" th:if="${response.data == null or #lists.isEmpty(response.data)}">
                <p>Không có thương hiệu nào</p>
            </div>

            <!-- table -->
            <div class="content-table table-container" th:if="${response.data != null and !#lists.isEmpty(response.data)}">
                <table class="table">
                    <thead>
                    <tr class="table-header-row">
                        <th class="table-header-cell col-width-5"
                            th:with="sortDirection=${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}">
                            <a th:href="@{/dashboard/brand(
                                page=1,
                                sortBy='name',
                                sortDirection=${sortDirection},
                                limit=${brandFilterDto.getLimit()},
                                search=${brandFilterDto.search}
                            )}">
                                Tên
                                <i th:if="${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                                   class="fa-solid fa-arrow-down"></i>
                                <i th:if="${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                                   class="fa-solid fa-arrow-up"></i>
                            </a>
                        </th>

                        <th class="table-header-cell col-width-2"
                            th:with="sortDirection=${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}">
                            <a th:href="@{/dashboard/brand(
                                page=1,
                                sortBy='createdAt',
                                sortDirection=${sortDirection},
                                limit=${brandFilterDto.getLimit()},
                                search=${brandFilterDto.search}
                            )}">
                                Tạo lúc
                                <i th:if="${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                                   class="fa-solid fa-arrow-down"></i>
                                <i th:if="${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                                   class="fa-solid fa-arrow-up"></i>
                            </a>
                        </th>

                        <th class="table-header-cell col-width-2"
                            th:with="sortDirection=${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}">
                            <a th:href="@{/dashboard/brand(
                                page=1,
                                sortBy='updatedAt',
                                sortDirection=${sortDirection},
                                limit=${brandFilterDto.getLimit()},
                                search=${brandFilterDto.search}
                            )}">
                                Cập nhật lúc
                                <i th:if="${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                                   class="fa-solid fa-arrow-down"></i>
                                <i th:if="${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                                   class="fa-solid fa-arrow-up"></i>
                            </a>
                        </th>

                        <th class="table-header-cell col-width-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-body-row" th:each="brand : ${response.data}">
                        <td class="table-body-cell">
                            <span class="cell-text"
                                  th:text="${#strings.isEmpty(brand.name) ? 'N/A' : brand.name}"></span>
                        </td>

                        <td class="table-body-cell">
                            <span class="cell-text"
                                  th:text="${brand.createdAt != null ? #temporals.format(brand.createdAt, 'dd-MM-yyyy HH:mm') : 'N/A'}"></span>
                        </td>

                        <td class="table-body-cell">
                            <span class="cell-text"
                                  th:text="${brand.updatedAt != null ? #temporals.format(brand.updatedAt, 'dd-MM-yyyy HH:mm') : 'N/A'}"></span>
                        </td>

                        <td class="table-body-cell">
                            <div class="table-row-actions">
                                <a class="view-button primary-button"
                                   th:href="@{/dashboard/brand/details/{brandId}(brandId=${brand.id})}">Xem</a>
                                <a class="update-button warning-button"
                                   th:href="@{/dashboard/brand/update/{brandId}(brandId=${brand.id})}">Sửa</a>
                                <a class="delete-button danger-button"
                                   th:href="@{/dashboard/brand/delete/{brandId}(brandId=${brand.id})}">Xoá</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination -->
            <ul class="pagination" th:if="${response.totalPages > 1}">
                <!-- Previous Page -->
                <li class="pagination-item">
                    <a class="button previous-page-button"
                       th:href="@{/dashboard/brand(
                            page=${response.currentPage - 1},
                            sortBy=${validSortBy},
                            sortDirection=${brandFilterDto.getSortDirection()},
                            limit=${brandFilterDto.getLimit()},
                            search=${brandFilterDto.search}
                        )}"
                       th:classappend="${response.currentPage <= 1 ? 'disabled' : ''}"
                    >
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>

                <!-- Page Numbers -->
                <li class="pagination-item"
                    th:each="pageNumber : ${#numbers.sequence(1, response.totalPages)}">
                    <a class="button page-number-button"
                       th:href="@{/dashboard/brand(
                            page=${pageNumber},
                            sortBy=${validSortBy},
                            sortDirection=${brandFilterDto.getSortDirection()},
                            limit=${brandFilterDto.getLimit()},
                            search=${brandFilterDto.search}
                         )}"
                       th:classappend="${response.currentPage == pageNumber ? 'active' : ''}"
                       th:text="${pageNumber}">
                    </a>
                </li>

                <!-- Next Page -->
                <li class="pagination-item">
                    <a class="button next-page-button"
                       th:href="@{/dashboard/brand(
                            page=${response.currentPage + 1},
                            sortBy=${validSortBy},
                            sortDirection=${brandFilterDto.getSortDirection()},
                            limit=${brandFilterDto.getLimit()},
                            search=${brandFilterDto.search}
                         )}"
                       th:classappend="${response.currentPage >= response.totalPages ? 'disabled' : ''}">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
