<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/admin/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thương hiệu</title>
  </head>

  <body>
    <div
      class="brand brand-list"
      layout:fragment="content"
      th:with="queryUtils=${T(com.laptopstore.ecommerce.util.QueryUtils)},
               sortDirectionEnum=${T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum)},
               brandClass=${T(com.laptopstore.ecommerce.model.Brand)},
               paginationUtils=${T(com.laptopstore.ecommerce.util.PaginationUtils)}"
    >
      <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>Thương hiệu</li>
        </ul>

        <!-- brand list content -->
        <div
          class="brand-list-content brand-content"
          th:with="validSortBy=${paginationUtils.getValidSortBy(brandClass, brandFilterDto.sortBy, brandClass.DEFAULT_SORT_FIELD)}"
        >
          <h1 class="content-title">Thương hiệu</h1>

          <!-- control panel -->
          <form
            class="control-panel-form"
            th:action="@{/dashboard/brand}"
            method="get"
          >
            <input type="hidden" name="sortBy" th:value="${validSortBy}" />

            <input
              type="hidden"
              name="sortDirection"
              th:value="${brandFilterDto.getEnumSortDirection()}"
            />

            <!-- limit -->
            <div class="limit">
              <label class="limit-label" for="limit">Giới hạn:</label>
              <select
                class="limit-select"
                name="limit"
                id="limit"
                onchange="this.form.submit()"
              >
                <option
                  th:value="10"
                  th:selected="${brandFilterDto.getIntegerLimit() == 10}"
                >
                  10
                </option>
                <option
                  th:value="20"
                  th:selected="${brandFilterDto.getIntegerLimit() == 20}"
                >
                  20
                </option>
                <option
                  th:value="40"
                  th:selected="${brandFilterDto.getIntegerLimit() == 40}"
                >
                  40
                </option>
                <option
                  th:value="80"
                  th:selected="${brandFilterDto.getIntegerLimit() == 80}"
                >
                  80
                </option>
              </select>
            </div>

            <!-- search -->
            <div class="search">
              <input
                class="search-input"
                type="text"
                name="search"
                id="search"
                th:value="${brandFilterDto.search}"
                placeholder="Tên thương hiệu..."
              />
              <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>

            <a
              class="create-button primary-button"
              href="/dashboard/brand/create"
            >
              <i class="brand-list__create-icon fa-solid fa-plus"></i>Thêm
            </a>
          </form>

          <!-- search summary -->
          <div
            class="search-summary"
            th:if="${brandFilterDto.search != null && !brandFilterDto.search.isEmpty()}"
          >
            <p class="search-message">
              <span
                class="search-result-count"
                th:text="${response.totalItem}"
              ></span>
              kết quả cho "
              <span
                class="search-value"
                th:text="${brandFilterDto.search}"
              ></span
              >"
            </p>
            <a
              class="search-reset-link"
              th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(), {{'search': null, 'page': '1'}})}"
              th:href="${'/dashboard/brand' + newQuery}"
            >
              đặt lại
            </a>
          </div>

          <!-- table -->
          <div class="content-table">
            <table class="table">
              <thead>
                <tr class="table-header-row">
                  <th
                    class="table-header-cell col-width-1"
                    th:with="sortDirection=${validSortBy.equals('id') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}"
                  >
                    <a
                      th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(), {{'sortBy': 'id', 'page': '1', 'sortDirection' : sortDirection }})}"
                      th:href="${'/dashboard/brand' + newQuery}"
                    >
                      Mã
                      <i
                        th:if="${validSortBy.equals('id') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                        class="fa-solid fa-arrow-down"
                      ></i>

                      <i
                        th:if="${validSortBy.equals('id') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                        class="fa-solid fa-arrow-up"
                      ></i>
                    </a>
                  </th>

                  <th
                    class="table-header-cell col-width-5"
                    th:with="sortDirection=${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}"
                  >
                    <a
                      th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(), {'sortBy': 'name', 'page': '1', 'sortDirection': sortDirection})}"
                      th:href="${'/dashboard/brand' + newQuery}"
                    >
                      Tên
                      <i
                        th:if="${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                        class="fa-solid fa-arrow-down"
                      ></i>

                      <i
                        th:if="${validSortBy.equals('name') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                        class="fa-solid fa-arrow-up"
                      ></i>
                    </a>
                  </th>

                  <th
                    class="table-header-cell col-width-2"
                    th:with="sortDirection=${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}"
                  >
                    <a
                      th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(), {'sortBy': 'createdAt', 'page': '1', 'sortDirection': sortDirection})}"
                      th:href="${'/dashboard/brand' + newQuery}"
                    >
                      Ngày tạo
                      <i
                        th:if="${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                        class="fa-solid fa-arrow-down"
                      ></i>

                      <i
                        th:if="${validSortBy.equals('createdAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                        class="fa-solid fa-arrow-up"
                      ></i>
                    </a>
                  </th>

                  <th
                    class="table-header-cell col-width-2"
                    th:with="sortDirection=${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC) ? 'ASC' : 'DESC'}"
                  >
                    <a
                      th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(), {'sortBy': 'updatedAt', 'page': '1', 'sortDirection': sortDirection})}"
                      th:href="${'/dashboard/brand' + newQuery}"
                    >
                      Ngày cập nhật
                      <i
                        th:if="${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.DESC)}"
                        class="fa-solid fa-arrow-down"
                      ></i>

                      <i
                        th:if="${validSortBy.equals('updatedAt') and brandFilterDto.getEnumSortDirection().equals(sortDirectionEnum.ASC)}"
                        class="fa-solid fa-arrow-up"
                      ></i>
                    </a>
                  </th>

                  <th class="table-header-cell col-width-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-body-row" th:each="brand : ${response.data}">
                  <td class="table-body-cell">
                    <span
                      class="cell-text"
                      th:text="${brand.id != null ? brand.id : 'N/A'}"
                    ></span>
                  </td>

                  <td class="table-body-cell">
                    <span
                      class="cell-text"
                      th:text="${#strings.isEmpty(brand.name) ? 'N/A' : brand.name}"
                    ></span>
                  </td>

                  <td class="table-body-cell">
                    <span
                      class="cell-text"
                      th:text="${brand.createdAt != null ? #temporals.format(brand.createdAt, 'dd-MM-yyyy HH:mm') : 'N/A'}"
                    ></span>
                  </td>

                  <td class="table-body-cell">
                    <span
                      class="cell-text"
                      th:text="${brand.updatedAt != null ? #temporals.format(brand.updatedAt, 'dd-MM-yyyy HH:mm') : 'N/A'}"
                    ></span>
                  </td>

                  <td class="table-body-cell">
                    <div class="table-row-actions">
                      <a
                        class="view-button primary-button"
                        th:href="@{/dashboard/brand/details/{id}(id=${brand.id})}"
                        th:if="${brand.id != null}"
                        >Xem</a
                      >
                      <a
                        class="update-button warning-button"
                        th:href="@{/dashboard/brand/update/{id}(id=${brand.id})}"
                        th:if="${brand.id != null}"
                        >Sửa</a
                      >
                      <a
                        class="delete-button danger-button"
                        th:href="@{/dashboard/brand/delete/{id}(id=${brand.id})}"
                        th:if="${brand.id != null}"
                        >Xoá</a
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- pagination -->
          <ul class="pagination" th:if="${response.totalPages > 1}">
            <!-- Previous Page -->
            <li class="pagination-item">
              <a
                class="previous-page-button"
                th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(),{{'page': (response.currentPage - 1)}})}"
                th:href="${'/dashboard/brand' + newQuery}"
                th:classappend="${response.currentPage <= 1 ? 'disable' : ''}"
              >
                <i class="fa-solid fa-chevron-left"></i>
              </a>
            </li>

            <!-- Page Numbers -->
            <li
              class="pagination-item"
              th:each="pageNumber : ${#numbers.sequence(1, response.totalPages)}"
            >
              <a
                class="page-number-button"
                th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(),{{'page': pageNumber}})}"
                th:href="${'/dashboard/brand' + newQuery}"
                th:classappend="${response.currentPage == pageNumber ? 'active' : ''}"
                th:text="${pageNumber}"
              ></a>
            </li>

            <!-- Next Page -->
            <li class="pagination-item">
              <a
                class="next-page-button"
                th:with="newQuery=${queryUtils.modifiedQuery(brandFilterDto.toQuery(),{{'page': (response.currentPage + 1)}})}"
                th:href="${'/dashboard/brand' + newQuery}"
                th:classappend="${response.currentPage >= response.totalPages ? 'disable' : ''}"
              >
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
