@import "../media_advanced";
@import "../variables";
@import "../responsive_grid";
@import "../table_col_width";
@import "../button";
@import "../input";
@import "../text_truncate";

.dashboard {
  .container-fluid {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    section {
      .header {
        display: flex;
        gap: 1.6rem;
        justify-content: space-between;
        flex-wrap: wrap;

        .title {
          font-size: 2rem;
          color: $text-primary;
        }

        .view-all-button {
          display: flex;
          gap: 0.8rem;
          align-items: center;
          font-size: 1.6rem;

          i {
            font-size: 1.6rem;
            color: $text-inverse;
          }
        }
      }

      &.dashboard-cards {
        .dashboard-card {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          text-align: center;

          i {
            font-size: 2rem;
            color: $text-primary;
          }

          .dashboard-card-title {
            font-size: 1.6rem;
            color: $text-primary;
          }

          .dashboard-card-value {
            font-size: 2.5rem;
            color: $text-primary;
            @include textTruncate();
          }

          .dashboard-card-link {
            font-size: 1.6rem;
          }
        }
      }

      //table {
      //  @include generate-col-widths(110rem);
      //}
    }
  }
}
