<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/client/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trang chủ</title>
  </head>

  <body>
    <main
      class="home"
      layout:fragment="content"
      th:with="queryUtils=${T(com.laptopstore.ecommerce.util.QueryUtils)}"
    >
      <!-- banners -->
      <section class="banners">
        <div class="banners-intro">
          <p class="intro-message">
            Khám phá các mẫu laptop mới nhất của chúng tôi
          </p>
          <a href="/shop" class="intro-button primary-button">
            Xem chi tiết
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>

        <div class="banner-list banners-carousel owl-carousel owl-theme">
          <div class="banner-item">
            <img class="banner-image" src="/images/banner-1.jpg" alt="banner" />
          </div>
          <div class="banner-item">
            <img class="banner-image" src="/images/banner-2.jpg" alt="banner" />
          </div>
          <div class="banner-item">
            <img class="banner-image" src="/images/banner-3.jpg" alt="banner" />
          </div>
        </div>
      </section>

      <!-- categories -->
      <section
        class="categories"
        th:if="${!#lists.isEmpty(homeContent.categories)}"
      >
        <div class="container">
          <h2 class="categories-title">Danh mục sản phẩm</h2>
          <div class="row">
            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"
              th:each="category: ${homeContent.categories}"
            >
              <a
                class="category-card card"
                th:href="${'/shop' + '?categories=' + category.slug}"
              >
                <div class="category-image">
                  <img
                    class="image"
                    th:src="${'/' + resourcesMappingFolder + '/' + categoryImagesFolder + '/' + category.image}"
                    alt="category"
                  />
                </div>
                <div class="category-information">
                  <h2 class="category-name" th:text="${category.name}"></h2>
                  <p
                    class="category-description"
                    th:text="${category.description}"
                  ></p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- ideal laptop -->
      <section class="ideal-laptop">
        <div class="container">
          <div class="ideal-laptop-intro">
            <h2 class="intro-title">Tìm chiếc laptop lý tưởng của bạn</h2>
            <p class="intro-description">
              với sức mạnh và công cụ sáng tạo phù hợp phong cách của bạn!
            </p>
            <a class="intro-button primary-button" href="/shop">
              Tìm ngay <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
          <div class="ideal-laptop-image">
            <img
              class="image"
              src="/images/ideals-laptop.png"
              alt="laptop lý tưởng"
            />
          </div>
        </div>
      </section>

      <!-- top discount -->
      <section
        class="top-discount"
        th:if="${!#lists.isEmpty(homeContent.topDiscountProducts)}"
      >
        <div class="container">
          <div class="top-discount-header">
            <h2 class="header-title">Ưu đãi nổi bật</h2>
            <a
              th:with="newUrl=${queryUtils.modifiedQuery('/hot-deals', {{'sortBy': 'discount', 'sortDirection': 'DESC'}})}"
              th:href="${newUrl}"
              class="header-button view-all-button primary-button"
            >
              Xem tất cả <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
          <div class="row">
            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
              th:each="product: ${homeContent.topDiscountProducts}"
            >
              <a
                th:href="@{/shop/product/{slug}(slug=${product.slug})}"
                class="product-card card"
              >
                <div class="product-image">
                  <img
                    th:src="${'/' + resourcesMappingFolder + '/' + productImagesFolder + '/' + (product.productImage != null ? product.productImage.imageName: '')}"
                    alt="product"
                  />
                </div>
                <p class="product-name" th:text="${product.name}"></p>
                <div class="product-pricing">
                  <p
                    class="price"
                    th:text="${#numbers.formatDecimal(product.discountPrice, 0, 'COMMA', 0, 'POINT')} + '₫'"
                  ></p>
                  <div class="discount-information">
                    <span
                      class="old-price"
                      th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '₫'"
                    >
                    </span>
                    <span
                      class="discount-value danger-badge"
                      th:text="${product.discount + '%'}"
                    >
                    </span>
                  </div>
                </div>
                <div class="review-stars" th:if="${product.averageRating > 0}">
                  <i
                    th:with="score=${product.averageRating}"
                    class="fa-solid"
                    th:each="i : ${#numbers.sequence(1, 5)}"
                    th:classappend="${i <= T(java.lang.Math).floor(score) ? 'fa-star active' : i - 1 < score ? 'fa-star-half-stroke active' : 'fa-star'}"
                  >
                  </i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- reason to shop here -->
      <section class="reasons-shop-here">
        <div class="container">
          <h2 class="reasons-title">Tại sao nên chọn chúng tôi</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="reason-card card">
                <div class="reason-image">
                  <img
                    src="/images/Delivery-Motorcycle.png"
                    alt="giao hàng miễn phí"
                  />
                </div>
                <h3 class="reason-title">Giao hàng miễn phí</h3>
                <p class="reason-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos,
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="reason-card">
                <div class="reason-image">
                  <img src="/images/Advertising.png" alt="quảng cáo" />
                </div>
                <h3 class="reason-title">Ưu đãi hấp dẫn mỗi tháng</h3>
                <p class="reason-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos,
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="reason-card">
                <div class="reason-image">
                  <img src="/images/Percent.png" alt="giảm giá" />
                </div>
                <h3 class="reason-title">Giá tốt và nhiều ưu đãi</h3>
                <p class="reason-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos,
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
              <div class="reason-card">
                <div class="reason-image">
                  <img src="/images/Exchange.png" alt="đổi trả" />
                </div>
                <h3 class="reason-title">Chính sách đổi trả dễ dàng</h3>
                <p class="reason-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos,
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

  <script layout:fragment="scripts" th:inline="javascript">
    // banner carousel
    $(document).ready(function () {
      $(".banners-carousel").owlCarousel({
        items: 1,
        loop: true,
        autoplay: true,
        autoplayTimeout: 5000,
        nav: false,
        dots: false,
        autoplayHoverPause: true,
        touchDrag: false,
        pullDrag: false,
        mouseDrag: false,
      });
    });
  </script>
</html>
