@import "../variables";
@import "../media_advanced";
@import "../responsive_grid";
@import "../input";
@import "../button";
@import "../text_truncate";

.cart {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .cart-title {
      font-size: 2.5rem;
      color: $text-primary;
    }

    .cart-item-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .cart-item {
        .product {
          display: flex;
          align-items: center;
          gap: 1.6rem;

          @include media(xs, sm) {
            flex-direction: column;
          }

          @include media(md, lg, xl) {
            flex-direction: row;
          }

          .product-image {
            width: 12rem;
            height: 12rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .product-information {
            flex: 1;
            display: flex;
            flex-direction: column;

            @include media(xs, sm) {
              gap: 1rem;
            }

            @include media(md, lg, xl) {
              gap: 0.6rem;
            }

            .product-name {
              font-size: 1.6rem;
              font-weight: 500;
              @include textTruncate($number: 2);
            }

            .product-pricing {
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;

              .price {
                font-size: 1.8rem;
                color: $color-primary;
                font-weight: 500;
              }

              .discount-information {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                .old-price {
                  font-size: 1.6rem;
                  color: $color-secondary;
                  font-weight: 500;
                  text-decoration: line-through;
                }
              }
            }

            .product-quantity {
              display: flex;
              align-items: center;
              gap: 1rem;
              flex-wrap: wrap;

              .quantity-label {
                font-size: 1.6rem;
                color: $text-primary;
              }

              .quantity-control {
                display: flex;
                gap: 0.6rem;

                .quantity-input {
                  @include input($padding: 0, $textAlign: center);
                  align-self: stretch;
                  width: 3rem;
                  height: 3rem;
                }

                .quantity-minus-button {
                  display: flex;
                  height: 3rem;
                  width: 3rem;
                  align-items: center;
                  justify-content: center;
                  padding: 1rem;
                  border-radius: 5rem 0 0 5rem;
                }

                .quantity-plus-button {
                  display: flex;
                  height: 3rem;
                  width: 3rem;
                  align-items: center;
                  justify-content: center;
                  padding: 1rem;
                  border-radius: 0 5rem 5rem 0;
                }
              }
            }

            .product-total-price {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              gap: 0.8rem;

              .total-price-label {
                font-size: 1.6rem;
                color: $text-primary;
              }

              .total-price-value {
                font-size: 1.8rem;
                font-weight: 500;
                color: $color-primary;
              }
            }

            .product-status {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              gap: 1rem;

              .product-stock-status {
                font-size: 1.6rem;
                color: $text-primary;
              }
            }
          }
        }
      }
    }

    .cart-summary {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .cart-summary-title {
        font-size: 2rem;
        color: $text-primary;
      }

      .cart-price-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .label {
          font-size: 1.6rem;
          color: $text-primary;
        }

        .price {
          font-size: 1.6rem;
          color: $text-primary;
        }
      }

      .cart-actions {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }
    }
  }
}
