@import "../variables";
@import "../table_col_width";
@import "../media_advanced";
@import "../responsive_grid";

.checkout-confirmation {
  .container {
    .checkout-content {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      .order-header {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .title {
          font-size: 3.5rem;
          color: $color-primary;
          text-align: center;
          font-weight: 600;
        }

        .sub-title {
          font-size: 2rem;
          color: $text-primary;
          text-align: center;
        }
      }

      .order-summary {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .order-summary-content {
          .order-summary-section {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .order-summary-item {
              display: flex;
              gap: 0.8rem;
              font-size: 1.6rem;
              color: $text-primary;

              .order-summary-label {
                font-weight: 600;
              }

              .order-summary-value {
                flex: 1;
              }
            }
          }
        }
      }

      table {
        @include generate-col-widths(110rem);
      }

      .actions {
        display: flex;
        gap: 1rem;

        @include media(xs, sm) {
          flex-direction: column;
        }

        @include media(md, lg, xl) {
          flex-direction: row;
        }
      }
    }
  }
}
