@import "../variables";
@import "../media_advanced";
@import "../button";
@import "../input";
@import "../text_truncate";

// layout
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 1.6rem;
  background-color: $bg-light;

  // header
  header {
    box-shadow: $box-shadow-01;
    padding: 1.6rem 0;
    background-color: $text-inverse;

    .container {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .header-top {
        @include media(xs, sm) {
          display: none;
        }
        @include media(md, lg, xl) {
          display: flex;
        }
        align-items: center;
        justify-content: space-between;
      }

      .divider {
        height: 0.1rem;
        width: 100%;
        background-color: rgba($text-primary, 0.25);
        @include media(xs, sm) {
          display: none;
        }
        @include media(md, lg, xl) {
          display: block;
        }
      }

      .header-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .show-sidebar-button {
          font-size: 2.5rem;
          color: $text-primary;
          @include media(xs, sm) {
            display: block;
          }
          @include media(md, lg, xl) {
            display: none;
          }
        }

        .nav-menu {
          @include media(xs, sm) {
            display: none;
          }
          @include media(md, lg, xl) {
            display: flex;
          }
          display: flex;
          align-items: center;
          gap: 2rem;

          .hot-deals-button {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 2rem;
            font-size: 1.8rem;
            i {
              color: $text-inverse;
              font-size: 2rem;
            }
          }

          .nav-menu-list {
            display: flex;
            align-items: center;
            gap: 2rem;

            .item {
              .link {
                color: $text-primary;
                position: relative;
                font-size: 1.6rem;

                &:hover {
                  &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                  }
                }

                &::before {
                  content: "";
                  left: auto;
                  right: 0;
                  position: absolute;
                  display: block;
                  width: 0;
                  height: 0.3rem;
                  bottom: -0.5rem;
                  background-color: $text-primary;
                  transition: 0.3s;
                }
              }
            }
          }
        }

        .nav-actions {
          @include media(xs, sm) {
            display: none;
          }
          @include media(md, lg, xl) {
            display: flex;
          }
          &.mobile {
            @include media(xs, sm) {
              display: flex;
            }
            @include media(md, lg, xl) {
              display: none;
            }
          }

          display: flex;
          align-items: center;
          gap: 2.4rem;

          .show-search-modal-button {
            @include media(xs, sm, md) {
              display: flex;
            }
            @include media(xl, lg) {
              display: none;
            }

            width: 4rem;
            height: 4rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border-radius: 50%;

            i {
              font-size: 1.6rem;
              color: $text-inverse;
            }
          }

          .search-form {
            @include media(xs, sm, md) {
              display: none;
            }
            @include media(xl, lg) {
              display: block;
            }
          }

          .cart-icon {
            position: relative;
            color: $color-primary;

            i {
              font-size: 3rem;
              color: $color-primary;
            }

            .cart-count-number {
              position: absolute;
              top: -40%;
              right: -50%;
              width: 2.4rem;
              height: 2.4rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .show-account-links-button {
            width: 4rem;
            height: 4rem;
            display: inline-block;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 50%;
            }
          }
          .show-authentication-links-button {
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $color-primary;

            i {
              font-size: 2rem;
              color: $text-inverse;
            }
          }

          .dropdown {
            .dropdown-toggle {
              width: 4rem;
              height: 4rem;

              &.authentication-dropdown-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $color-primary;

                i {
                  font-size: 2rem;
                  color: $text-inverse;
                }
              }

              &.account-dropdown-toggle {
                display: inline-block;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  border-radius: 50%;
                }
              }
            }
            .dropdown-menu {
              z-index: 997;

              .dropdown-item {
                .account-information {
                  padding: 0.8rem 1rem;

                  .account-name {
                    font-size: 1.6rem;
                    color: $text-primary;
                    font-weight: 500;
                  }

                  .account-email {
                    font-size: 1.4rem;
                    color: $text-primary;
                    margin-bottom: 0.8rem;
                  }

                  &::after {
                    content: "";
                    display: block;
                    height: 0.1rem;
                    width: 100%;
                    background-color: rgba($text-primary, 0.5);
                  }
                }

                .link {
                  display: inline-block;
                  padding: 0.8rem 1rem;
                  width: 100%;
                  color: $text-primary;
                  font-size: 1.6rem;
                  transition: 0.3s;
                  text-align: start;

                  &:hover {
                    background: $color-primary;
                    color: $text-inverse;
                  }

                  &.active {
                    background: $color-primary;
                    color: $text-inverse;
                  }

                  &.logout {
                    color: $color-danger;

                    &:hover {
                      background-color: $color-danger;
                      color: $text-inverse;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // overlay
  .overlay {
    z-index: 998;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#333, 0.75);

    &.show {
      display: block;
    }
  }

  // sidebar
  .sidebar {
    z-index: 999;
    position: fixed;
    height: 100%;
    background-color: $bg-white;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include media(xs) {
      width: 75%;
    }

    @include media(sm) {
      width: 50%;
    }

    &.show {
      transform: translateX(0);
    }

    .sidebar-header {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .top {
        display: flex;
        align-items: center;

        .hide-sidebar-button {
          font-size: 2.5rem;
          color: $text-primary;
        }

        .logo {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .account {
        display: flex;
        gap: 1rem;

        .account-avatar {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .account-information {
          flex: 1;
          min-width: 0;

          .name {
            font-size: 1.6rem;
            font-weight: 500;
            @include textTruncate();
            max-width: 100%;
          }

          .email {
            font-size: 1.25rem;
            color: $text-primary;
            @include textTruncate();
            max-width: 100%;
          }
        }
      }
    }
    .sidebar-body {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      flex: 1;
      overflow-y: auto;

      .account-link-list {
        .account-link-item {
          border-radius: 1rem;
          overflow: hidden;

          .link {
            display: inline-block;
            padding: 1rem;
            font-size: 1.6rem;
            color: $text-primary;
            width: 100%;

            i {
              font-size: 1.6rem;
              color: $text-primary;
              margin-right: 1rem;
            }
            &:hover {
              background-color: $color-primary;
              color: $text-inverse;

              i {
                color: $text-inverse;
              }
            }
          }
        }
      }

      .authentication-link-list {
        .authentication-link-item {
          border-radius: 1rem;
          overflow: hidden;
          .link {
            display: inline-block;
            padding: 1rem;
            font-size: 1.6rem;
            color: $text-primary;
            width: 100%;

            i {
              font-size: 1.6rem;
              color: $text-primary;
              margin-right: 1rem;
            }

            &:hover {
              background-color: $color-primary;
              color: $text-inverse;

              i {
                color: $text-inverse;
              }
            }
          }
        }
      }
      .nav-menu-list {
        .item {
          border-radius: 1rem;
          overflow: hidden;

          .link {
            display: inline-block;
            padding: 1rem;
            font-size: 1.6rem;
            color: $text-primary;
            width: 100%;

            i {
              font-size: 1.6rem;
              color: $text-primary;
              margin-right: 1rem;
            }

            &:hover {
              background-color: $color-primary;
              color: $text-inverse;
              i {
                color: $text-inverse;
              }
            }
          }
        }
      }
    }

    .sidebar-footer {
      margin-top: auto;

      .logout-form {
        display: flex;
        flex-direction: column;
      }
    }
  }

  // search modal
  .search-modal {
    .search-modal-body {
      padding: 1.6rem;
    }
  }

  //footer
  footer {
    margin-top: auto;
    background-color: $bg-white;
    padding: 3.2rem 0;
    box-shadow: $box-shadow-01;

    .container {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      .about {
        .about-title {
          font-size: 2rem;
          color: $text-primary;
          display: inline-block;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.1rem;
            background-color: $text-primary;
            margin-top: 0.5rem;
          }
        }

        .about-description {
          font-size: 1.6rem;
          color: $text-primary;
          margin: 0.8rem 0;
        }
      }

      .support {
        .support-title {
          font-size: 2rem;
          color: $text-primary;
          display: inline-block;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.1rem;
            background-color: $text-primary;
            margin-top: 0.5rem;
          }
        }

        .support-link-list {
          .support-link-item {
            margin: 0.8rem 0;

            .link {
              font-size: 1.6rem;
              color: $text-primary;

              i {
                font-size: 1.6rem;
                margin-right: 0.8rem;
              }

              &:hover {
                color: $color-primary;
              }
            }
          }
        }
      }

      .contact {
        .contact-title {
          font-size: 2rem;
          color: $text-primary;
          display: inline-block;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.1rem;
            background-color: $text-primary;
            margin-top: 0.5rem;
          }
        }
        .contact-info-list {
          .item {
            margin: 0.8rem 0;

            .text {
              font-size: 1.6rem;
              color: $text-primary;

              i {
                font-size: 1.6rem;
                margin-right: 0.8rem;
              }
            }
          }
        }
      }

      .copyright {
        text-align: center;

        .text {
          font-size: 1.6rem;
          color: $text-primary;
        }
      }
    }
  }
}
