@import "../variables";
@import "../media_advanced";
@import "../responsive_grid";
@import "../table_col_width";
@import "../input";
@import "../button";

.order-history {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .order-history-content {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .content-title {
        font-size: 2rem;
        color: $text-primary;
      }

      .content-table {
        overflow-y: auto;

        table {
          @include generate-col-widths(85rem);
        }
      }
    }
  }
}
