.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-12 {
    width: 100%;
    padding: 0.8rem;
  }
}

.product-details .container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-header .product-summary {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-header .product-summary .product-name {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}
.product-details .container .product-details-header .product-summary .product-brand {
  font-size: 1.6rem;
  font-weight: 600;
  color: #9fa6b2;
}
.product-details .container .product-details-header .product-summary .product-category {
  font-size: 1.6rem;
  font-weight: 600;
  color: #9fa6b2;
}
.product-details .container .product-details-header .product-summary .product-pricing {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.product-details .container .product-details-header .product-summary .product-pricing .price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3b71ca;
}
.product-details .container .product-details-header .product-summary .product-pricing .discount-information {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.product-details .container .product-details-header .product-summary .product-pricing .discount-information .old-price {
  font-size: 2rem;
  font-weight: 500;
  color: #9fa6b2;
  text-decoration: line-through;
}
.product-details .container .product-details-header .product-summary .product-short-description {
  font-size: 1.6rem;
  color: #333;
}
.product-details .container .product-details-header .product-summary .product-quantity {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-input {
  padding: 0;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(51, 51, 51, 0.25);
  color: #333;
  border-radius: 0.4rem;
  text-align: center;
  width: 4rem;
  height: 4rem;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-input.error {
  border: 0.1rem solid #dc4c64;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-input:focus {
  border: 0.1rem solid #3b71ca;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-minus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem 0 0 5rem;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-minus-button i {
  font-size: 1.6rem;
  color: #fff;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0 5rem 5rem 0;
}
.product-details .container .product-details-header .product-summary .product-quantity .quantity-plus-button i {
  font-size: 1.6rem;
  color: #fff;
}
.product-details .container .product-details-header .product-summary .product-actions {
  display: flex;
  gap: 1rem;
}
@media (max-width: 576px) {
  .product-details .container .product-details-header .product-summary .product-actions {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .product-details .container .product-details-header .product-summary .product-actions {
    flex-direction: row;
  }
  .product-details .container .product-details-header .product-summary .product-actions .buy-now-form {
    width: 60%;
  }
  .product-details .container .product-details-header .product-summary .product-actions .add-cart-form {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .product-details .container .product-details-header .product-summary .product-actions {
    flex-direction: row;
  }
  .product-details .container .product-details-header .product-summary .product-actions .buy-now-form {
    width: 60%;
  }
  .product-details .container .product-details-header .product-summary .product-actions .add-cart-form {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .product-details .container .product-details-header .product-summary .product-actions {
    flex-direction: row;
  }
  .product-details .container .product-details-header .product-summary .product-actions .buy-now-form {
    width: 60%;
  }
  .product-details .container .product-details-header .product-summary .product-actions .add-cart-form {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .product-details .container .product-details-header .product-summary .product-actions {
    flex-direction: row;
  }
  .product-details .container .product-details-header .product-summary .product-actions .buy-now-form {
    width: 60%;
  }
  .product-details .container .product-details-header .product-summary .product-actions .add-cart-form {
    width: 40%;
  }
}
.product-details .container .product-details-header .product-summary .product-actions .buy-now-form .buy-now-button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 100%;
}
.product-details .container .product-details-header .product-summary .product-actions .buy-now-form .buy-now-button i {
  font-size: 1.8rem;
  color: #fff;
  margin-right: 0.8rem;
}
.product-details .container .product-details-header .product-summary .product-actions .add-cart-form .add-cart-button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 100%;
}
.product-details .container .product-details-header .product-summary .product-actions .add-cart-form .add-cart-button i {
  font-size: 1.8rem;
  color: #fff;
  margin-right: 0.8rem;
}
.product-details .container .product-details-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-body .product-details-title {
  font-size: 2.5rem;
  color: #333;
}
.product-details .container .product-details-body .product-information {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-body .product-information .product-about {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.product-details .container .product-details-body .product-information .product-about .about-title {
  font-size: 2rem;
  color: #333;
}
.product-details .container .product-details-body .product-information .product-about .about-description {
  font-size: 1.6rem;
  color: #333;
}
.product-details .container .product-details-body .product-information .product-specification {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.product-details .container .product-details-body .product-information .product-specification .specification-title {
  font-size: 2rem;
  color: #333;
}
.product-details .container .product-details-footer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .review {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .review .review-title {
  font-size: 2.5rem;
  color: #333;
}
.product-details .container .product-details-footer .review .user-reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product-details .container .product-details-footer .review .user-reviews .user-reviews-title {
  font-size: 2rem;
  color: #333;
}
.product-details .container .product-details-footer .review .user-reviews .review-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product-details .container .product-details-footer .review .user-reviews .review-list .review-item:not(:last-child) {
  padding: 0 0 1.6rem 0;
  border-bottom: 0.1rem solid rgba(51, 51, 51, 0.25);
}
.product-details .container .product-details-footer .review .user-reviews .reviews-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-title {
  font-size: 1.8rem;
  color: #333;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-rating {
  display: flex;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-rating .rating {
  display: flex;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-rating .rating .fa-star {
  font-size: 2rem;
  cursor: pointer;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-message {
  display: flex;
  flex-direction: column;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-message .message {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(51, 51, 51, 0.25);
  color: #333;
  border-radius: 0.4rem;
  text-align: start;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-message .message.error {
  border: 0.1rem solid #dc4c64;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-data .form-data-message .message:focus {
  border: 0.1rem solid #3b71ca;
}
.product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
  display: flex;
  gap: 0.8rem;
}
@media (max-width: 576px) {
  .product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .product-details .container .product-details-footer .review .review-modal .review-form .form-actions {
    flex-direction: row;
  }
}
.product-details .container .product-details-footer .related-products {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product-details .container .product-details-footer .related-products .related-products-title {
  font-size: 2.5rem;
  color: #333;
}
