<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/client/account/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Đổi mật khẩu</title>
</head>

<body>

<form class="change-password-form form card" method="post" layout:fragment="account-content" th:action="@{/account/change-password}"
      th:object="${changePasswordDto}">
    <h1 class="form-title">Đổi mật khẩu</h1>
    <div class="form-content">
        <div class="input-group">
            <label for="oldPassword">Mật khẩu hiện tại:</label>
            <div class="input-group-control">
                <input type="password" name="oldPassword" id="oldPassword" placeholder="Mật khẩu mới" required/>
                <span class="input-error-message" th:if="${#fields.hasErrors('oldPassword')}"
                      th:errors="${changePasswordDto.oldPassword}"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="newPassword">Mật khẩu mới:</label>
            <div class="input-group-control">
                <input type="password" name="newPassword" id="newPassword" placeholder="Mật khẩu mới" required/>
                <span class="input-error-message" th:if="${#fields.hasErrors('newPassword')}"
                      th:errors="${changePasswordDto.newPassword}"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="confirmNewPassword">Xác nhận mật khẩu:</label>
            <div class="input-group-control">
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Xác nhận mật khẩu"
                       required/>
                <span class="input-error-message" th:if="${#fields.hasErrors('confirmNewPassword')}"
                      th:errors="${changePasswordDto.confirmNewPassword}"></span>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="spacer"></div>
        <div class="buttons">
            <button class="save-button primary-button" type="submit">Lưu</button>
            <a class="back-button secondary-button" href="/account/information">Quay lại</a>
        </div>
    </div>
</form>
</body>
</html>
