<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/client/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title data-layout-title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">ShopLap</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <!-- breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Tài khoản</li>
            </ul>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <!-- account aside -->
                    <div class="account-aside card">
                        <ul class="aside-option-list">
                            <li class="item">
                                <a class="link account-info-link" href="/account/information"
                                   th:classappend="${currentPath.contains('/information')} ? 'active'">Tài khoản</a>
                            </li>

                            <li class="item">
                                <a class="link order-history-link" href="/account/order-history"
                                   th:classappend="${currentPath.contains('/order-history')} ? 'active'">Lịch sử đơn hàng</a>
                            </li>

                            <li class="item">
                                <a class="link change-password-link" href="/account/change-password"
                                   th:classappend="${currentPath.contains('/change-password')} ? 'active'">Đổi mật khẩu</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <!-- account info -->
                    <div layout:fragment="account-content"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
