<!DOCTYPE html>
<html
        lang="vi"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="/client/account/layout"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tài khoản</title>
</head>

<body>

<form class="update-account-form form card" method="post" layout:fragment="account-content" th:action="@{/account/information/update}"
      th:object="${updateUserInformationDto}" enctype="multipart/form-data">
    <h1 class="form-title">Cập nhật thông tin tài khoản</h1>
    <div class="form-content">
        <div class="input-group">
            <label>Ảnh đại diện:</label>
            <div class="image-input-group">
                <div class="image-upload-group">
                    <!-- upload preview -->
                    <div class="image-upload-preview">
                        <div class="image-preview"
                             th:if="${#strings.isEmpty(updateUserInformationDto.currentAvatarName)}">
                            <label class="image-preview-edit-button" for="image"><i
                                    class="fa-solid fa-pen-to-square"></i></label>
                            <img class="image-preview-image" src="/images/default-avatar.png"
                                 alt="default-avatar.png"/>
                        </div>
                        <div class="image-preview"
                             th:if="${!#strings.isEmpty(updateUserInformationDto.currentAvatarName)}">
                            <label class="image-preview-edit-button" for="image"><i
                                    class="fa-solid fa-pen-to-square"></i></label>
                            <img class="image-preview-image"
                                 th:src="${'/' + resourcesMappingFolder + '/' + avatarsFolder + '/' + updateUserInformationDto.currentAvatarName}"
                                 th:alt="${updateUserInformationDto.currentAvatarName}"/>
                        </div>
                    </div>

                    <!-- upload control -->
                    <div class="image-upload-control">
                        <label class="image-upload-label" for="image"><i
                                class="fa-solid fa-plus"></i></label>
                        <input class="image-upload-input" name="newAvatar" id="image" type="file"
                               th:classappend="${#fields.hasErrors('newAvatar') ? 'error' : ''}"
                               th:field="${updateUserInformationDto.newAvatar}"
                               accept="image/jpg, image/png, image/jpeg, image/gif, image/webp"/>
                    </div>
                </div>
                <span class="input-error-message" th:if="${#fields.hasErrors('newAvatar')}"
                      th:errors="${updateUserInformationDto.newAvatar}"></span>
            </div>
        </div>
        <div class="input-group">
            <label for="firstName">Họ: </label>
            <div class="input-group-control">
                <input type="text" name="firstName" id="firstName" placeholder="Nhập họ" required
                       th:value="${updateUserInformationDto.firstName}"
                       th:classappend="${#fields.hasErrors('firstName') ? 'error' : ''}"
                       th:field="${updateUserInformationDto.firstName}"/>
                <span class="input-error-message" th:if="${#fields.hasErrors('firstName')}"
                      th:errors="${updateUserInformationDto.firstName}"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="lastName">Tên: </label>
            <div class="input-group-control">
                <input type="text" name="lastName" id="lastName" placeholder="Nhập tên" required
                       th:value="${updateUserInformationDto.lastName}"
                       th:classappend="${#fields.hasErrors('lastName') ? 'error' : ''}"
                       th:field="${updateUserInformationDto.lastName}"/>
                <span class="input-error-message" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="${updateUserInformationDto.lastName}"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="phone">Số điện thoại: </label>
            <div class="input-group-control">
                <input type="text" name="phone" id="phone" placeholder="Nhập số điện thoại"
                       th:value="${updateUserInformationDto.phone}"
                       th:classappend="${#fields.hasErrors('phone') ? 'error' : ''}"
                       th:field="${updateUserInformationDto.phone}"/>
                <span class="input-error-message" th:if="${#fields.hasErrors('phone')}"
                      th:errors="${updateUserInformationDto.phone}"></span>
            </div>
        </div>

        <div class="input-group">
            <label for="address">Địa chỉ: </label>
            <div class="input-group-control">
                                <textarea name="address" id="address" placeholder="Nhập địa chỉ"
                                          th:value="${updateUserInformationDto.address}"
                                          th:classappend="${#fields.hasErrors('address') ? 'error' : ''}"
                                          th:field="${updateUserInformationDto.address}" rows="3"></textarea>
                <span class="input-error-message" th:if="${#fields.hasErrors('address')}"
                      th:errors="${updateUserInformationDto.address}"></span>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="spacer"></div>
        <div class="buttons">
            <button class="save-button primary-button" type="submit">Lưu</button>
            <a class="back-button secondary-button" href="/account/information">Quay lại</a>
        </div>
    </div>
</form>
</body>
</html>
