.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-12 {
    width: 100%;
    padding: 0.8rem;
  }
}

.dashboard .container-fluid {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard .container-fluid section {
  background-color: #fff;
  padding: 1.6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dashboard .container-fluid section.dashboard-cards {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}
.dashboard .container-fluid section.dashboard-cards .dashboard-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1.6rem 3.2rem;
  text-align: center;
}
.dashboard .container-fluid section.dashboard-cards .dashboard-card i {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.dashboard-cards .dashboard-card .dashboard-card-title {
  font-size: 1.6rem;
  color: #333;
}
.dashboard .container-fluid section.dashboard-cards .dashboard-card .dashboard-card-value {
  font-size: 2.5rem;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard .container-fluid section.dashboard-cards .dashboard-card .dashboard-card-link {
  font-size: 1.6rem;
}
.dashboard .container-fluid section.statistics-overview .statistics-overview-header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .container-fluid section.statistics-overview .statistics-overview-header .title {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.statistics-overview .statistics-overview-header .view-all-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .container-fluid section.statistics-overview .statistics-overview-header .view-all-button i {
  font-size: 1.6rem;
  color: #fff;
}
.dashboard .container-fluid section.recent-orders {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .container-fluid section.recent-orders .recent-orders-header .title {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.recent-orders .recent-orders-header .view-all-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-header .view-all-button i {
  font-size: 1.6rem;
  color: #fff;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table {
  overflow-x: auto;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-1 {
  min-width: 10rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-2 {
  min-width: 20rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-3 {
  min-width: 30rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-4 {
  min-width: 40rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-5 {
  min-width: 50rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-6 {
  min-width: 60rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-7 {
  min-width: 70rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-8 {
  min-width: 80rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-9 {
  min-width: 90rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-10 {
  min-width: 100rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-11 {
  min-width: 110rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .col-width-12 {
  min-width: 120rem;
}
.dashboard .container-fluid section.recent-orders .recent-orders-table table .table-row-actions {
  display: flex;
  gap: 0.8rem;
}
.dashboard .container-fluid section.top-selling {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard .container-fluid section.top-selling .top-selling-header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .container-fluid section.top-selling .top-selling-header .title {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.top-selling .top-selling-header .view-all-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .container-fluid section.top-selling .top-selling-header .view-all-button i {
  font-size: 1.6rem;
  color: #fff;
}
.dashboard .container-fluid section.top-selling .top-selling-table {
  overflow-x: auto;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-1 {
  min-width: 10rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-2 {
  min-width: 20rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-3 {
  min-width: 30rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-4 {
  min-width: 40rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-5 {
  min-width: 50rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-6 {
  min-width: 60rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-7 {
  min-width: 70rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-8 {
  min-width: 80rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-9 {
  min-width: 90rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-10 {
  min-width: 100rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-11 {
  min-width: 110rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .col-width-12 {
  min-width: 120rem;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .product-image {
  display: flex;
  align-items: center;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .product-image img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}
.dashboard .container-fluid section.top-selling .top-selling-table table .table-row-actions {
  display: flex;
  gap: 0.8rem;
}
.dashboard .container-fluid section.top-rated {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard .container-fluid section.top-rated .top-rated-header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .container-fluid section.top-rated .top-rated-header .title {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.top-rated .top-rated-header .view-all-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .container-fluid section.top-rated .top-rated-header .view-all-button i {
  font-size: 1.6rem;
  color: #fff;
}
.dashboard .container-fluid section.top-rated .top-rated-table {
  overflow-x: auto;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-1 {
  min-width: 10rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-2 {
  min-width: 20rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-3 {
  min-width: 30rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-4 {
  min-width: 40rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-5 {
  min-width: 50rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-6 {
  min-width: 60rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-7 {
  min-width: 70rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-8 {
  min-width: 80rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-9 {
  min-width: 90rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-10 {
  min-width: 100rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-11 {
  min-width: 110rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .col-width-12 {
  min-width: 120rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .product-image {
  display: flex;
  align-items: center;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .product-image img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .review-stars {
  display: flex;
  gap: 0.6rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .review-stars .fa-star,
.dashboard .container-fluid section.top-rated .top-rated-table table .review-stars .fa-star-half-stroke {
  font-size: 1.5rem;
}
.dashboard .container-fluid section.top-rated .top-rated-table table .table-row-actions {
  display: flex;
  gap: 0.8rem;
}
.dashboard .container-fluid section.recent-reviews {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-header {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-header .title {
  font-size: 2rem;
  color: #333;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-header .view-all-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-header .view-all-button i {
  font-size: 1.6rem;
  color: #fff;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table {
  overflow-x: auto;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-1 {
  min-width: 10rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-2 {
  min-width: 20rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-3 {
  min-width: 30rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-4 {
  min-width: 40rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-5 {
  min-width: 50rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-6 {
  min-width: 60rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-7 {
  min-width: 70rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-8 {
  min-width: 80rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-9 {
  min-width: 90rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-10 {
  min-width: 100rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-11 {
  min-width: 110rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .col-width-12 {
  min-width: 120rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .user-avatar {
  display: flex;
  align-items: center;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .user-avatar img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .review-stars {
  display: flex;
  gap: 0.6rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .review-stars .fa-star,
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .review-stars .fa-star-half-stroke {
  font-size: 1.5rem;
}
.dashboard .container-fluid section.recent-reviews .recent-reviews-table table .table-row-actions {
  display: flex;
  gap: 0.8rem;
}
