.product .container-fluid .product-content .discount-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.product .container-fluid .product-content .discount-button i {
  color: #fff;
  font-size: 1.6rem;
}
.product .container-fluid .product-content .low-stock-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.product .container-fluid .product-content .low-stock-button i {
  color: #fff;
  font-size: 1.6rem;
}
.product .container-fluid .product-content .content-description-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.product .container-fluid .product-content .content-description-list .title {
  font-size: 2rem;
  color: #333;
}
.product .container-fluid .product-content .content-description-list .description-list .description-list-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.6rem;
}
.product .container-fluid .product-form .form-content .content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product .container-fluid .product-form .form-content .content .content-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.6rem;
}
.product .container-fluid .product-form .form-content .content .input-group {
  display: flex;
}
.product .container-fluid .product-form .form-content .content .input-group .images-input-group {
  width: 100%;
  min-width: 0;
}
.product .container-fluid .product-form .form-content .content .input-group .input-group-control {
  width: 100%;
}
@media (max-width: 576px) {
  .product .container-fluid .product-form .form-content .content .input-group {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (min-width: 576px) {
  .product .container-fluid .product-form .form-content .content .input-group {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .product .container-fluid .product-form .form-content .content .input-group {
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media (min-width: 992px) {
  .product .container-fluid .product-form .form-content .content .input-group {
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .product .container-fluid .product-form .form-content .content .input-group {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.product .container-fluid .product-form .form-content .content .input-group label {
  font-size: 1.6rem;
  color: #333;
  width: 100%;
  max-width: 30rem;
}
.product .container-fluid .product-form .form-content .content .input-group input:not([type=file]),
.product .container-fluid .product-form .form-content .content .input-group textarea,
.product .container-fluid .product-form .form-content .content .input-group select {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(51, 51, 51, 0.25);
  color: #333;
  border-radius: 0.4rem;
  text-align: start;
  width: 100%;
}
.product .container-fluid .product-form .form-content .content .input-group input:not([type=file]).error,
.product .container-fluid .product-form .form-content .content .input-group textarea.error,
.product .container-fluid .product-form .form-content .content .input-group select.error {
  border: 0.1rem solid #dc4c64;
}
.product .container-fluid .product-form .form-content .content .input-group input:not([type=file]):focus,
.product .container-fluid .product-form .form-content .content .input-group textarea:focus,
.product .container-fluid .product-form .form-content .content .input-group select:focus {
  border: 0.1rem solid #3b71ca;
}
