.error {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.error .status-code {
  font-size: 16rem;
  font-weight: 600;
  color: #3b71ca;
}
.error .title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #3b71ca;
  text-transform: uppercase;
}
.error .message {
  font-size: 2.4rem;
  color: #333;
}
