<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>Product</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
          <!-- breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/product">Product</a></li>
      <li>Create</li>
    </ul>

    <div class="product-container">
      <h1 class="title">Create new product</h1>
      <form id="createProductForm" class="create-product-form">
        <div class="info images">
          <h2 class="title">Images:</h2>
          <div class="input-group">
            <label for="images" class="image-add-new-button">Images (JPG, PNG, JPEG, GIF, WebP):</label>
            <div class="images-input-group">
              <div class="images-upload-container">
                <div class="images-preview"></div>
                <div class="images-upload-control">
                  <label for="images" class="image-add-new-button"><i class="fa-solid fa-plus"></i></label>
                  <input class="images-upload"
                         name="tempImagesInput"
                         id="images"
                         type="file"
                         multiple
                         accept="image/jpg, image/png, image/jpeg, image/gif, image/webp"
                  />
                </div>
              </div>
              <span id="imagesError" class="error-message"></span>
            </div>
          </div>
        </div>

        <div class="info general-info">
          <h2 class="title">General Information:</h2>
          <div class="input-group">
            <label for="name">Name: </label>
            <div class="input-group-control">
              <input type="text" name="name" id="name" placeholder="Product name" required />
              <span id="nameError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="brand">Brand: </label>
            <div class="input-group-control">
              <select name="brand" id="brand">
                <option selected value="">Select brand</option>
                <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
              </select>
              <span id="brandError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="category">Category: </label>
            <div class="input-group-control">
              <select name="category" id="category">
                <option selected value="">Select category</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                </option>
              </select>
              <span id="categoryError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="shortDescription">Short description: </label>
            <div class="input-group-control">
              <textarea name="shortDescription" id="shortDescription" rows="3" placeholder=" Product short description"
                required></textarea>
              <span id="shortDescriptionError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="description">Description: </label>
            <div class="input-group-control">
              <textarea name="description" id="description" rows="5" placeholder="Product description" required></textarea>
              <span id="descriptionError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="price">Price: </label>
            <div class="input-group-control">
              <input type="number" name="price" id="price" value="0" required />
              <span id="priceError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="discount">Discount(%): </label>
            <div class="input-group-control">
              <input type="number" name="discount" id="discount" value="0" required />
              <span id="discountError" class="error-message"></span>
            </div>
          </div>
          <div class="input-group">
            <label for="quantity">Quantity: </label>
            <div class="input-group-control">
              <input type="number" name="quantity" id="quantity" value="0" required />
              <span id="quantityError" class="error-message"></span>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="empty"></div>
          <button type="submit" class="save-button">Save</button>
          <a href="/dashboard/product" class="back-button">Back</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>