<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/admin/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sản phẩm</title>
  </head>

  <body>
    <div class="product product-delete" layout:fragment="content">
      <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard/product">Sản phẩm</a></li>
          <li>
            <a
              th:href="@{/dashboard/product/details/{id}(id=${product.id})}"
              th:text="${product.name}"
            ></a>
          </li>
          <li>Xóa</li>
        </ul>

        <!-- delete product form -->
        <form
          class="delete-product-form product-form card"
          method="post"
          th:action="@{/dashboard/product/delete}"
        >
          <h1 class="form-title">
            Xóa sản phẩm "<span th:text="${product.name}"></span>"
          </h1>

          <div class="form-content">
            <input type="hidden" name="productId" th:value="${product.id}" />
            <p class="warning-message">
              Bạn có chắc chắn muốn xóa sản phẩm với "<span
                th:text="${product.name}"
              ></span
              >" không?
            </p>
          </div>

          <div class="form-actions">
            <button type="submit" class="confirm-button danger-button">
              Xác nhận
            </button>
            <a href="/dashboard/product" class="back-button secondary-button">
              Quay lại
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
