<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Product</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
    <!-- breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/product">Product</a></li>
      <li>Delete</li>
    </ul>

    <div class="product-container">
      <h1 class="title">Delete product "<span th:text="${product.name}"></span>"</h1>

      <form method="post" th:action="@{/dashboard/product/delete/{id}(id=${product.id})}" class="delete-product-form">
        <p class="warning-message">Are you sure you want to delete the "<span th:text="${product.name}" ></span>" product ?</p>
        <div class="actions">
          <button type="submit" class="confirm-button">Confirm</button>
          <a href="/dashboard/product" class="cancel-button">Back</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>