<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - ShopLap</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/share.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>

  <body>
    <div class="error">
      <div class="status-code" th:text="${code}"></div>
      <h1 class="title" th:text="${error}"></h1>
      <p class="message" th:text="${message}"></p>
      <a class="home-button primary-button" href="/">Quay lại trang chủ</a>
    </div>
  </body>
</html>
