<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Category</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
          <!-- breadcrumb -->
          <ul class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard/category">Category</a></li>
            <li>Create</li>
          </ul>

          <div class="category-container">
            <h1 class="title">Create new category</h1>
            <form id="createCategoryForm" method="post" th:action="@{/dashboard/category/create}" class="create-category-form" th:object="${createCategoryDto}" enctype="multipart/form-data">
              <div class="input-group">
                <label for="image">Image (JPG, PNG, JPEG, GIF, WebP):</label>
                <div class="image-input-group">
                  <div class="image-upload-container">
                    <div class="image-preview">
                    </div>
                    <div class="image-upload-control">
                      <label for="image"><i class="fa-solid fa-plus"></i></label>
                      <input class="image-upload"
                             name="image"
                             id="image"
                             type="file"
                             accept="image/jpg,image/jpeg,image/png,image/gif, image/webp"
                             th:field="${createCategoryDto.image}"
                      />
                    </div>
                  </div>
                  <span id="imageError" class="error-message" th:if="${#fields.hasErrors('image')}" th:errors="${createCategoryDto.image}"></span>
                </div>
              </div>
              <div class="input-group">
                <label for="name">Name: </label>
                <div class="input-group-control">
                  <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Category name"
                          required
                          th:classappend="${#fields.hasErrors('name') ? 'error' : ''}"
                          th:field="${createCategoryDto.name}"
                  />
                  <span id="nameError" class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="${createCategoryDto.name}"></span>
                </div>
              </div>
              <div class="input-group">
                <label for="description">Description: </label>
                <div class="input-group-control">
                 <textarea
                         name="description"
                         id="description"
                         rows="5"
                         placeholder="Category description"
                         th:classappend="${#fields.hasErrors('description') ? 'error' : ''}"
                         th:field="${createCategoryDto.description}"
                 ></textarea>
                  <span id="descriptionError" class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="${createCategoryDto.description}"></span>
                </div>
              </div>
              <div class="actions">
                <div class="empty"></div>
                <button type="submit" class="save-button">Save</button>
                <a href="/dashboard/category" class="back-button">Back</a>
              </div>
            </form>
          </div>
        </div>
</body>
</html>