<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/admin/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Danh mục</title>
  </head>

  <body>
    <div class="category category-delete" layout:fragment="content">
      <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard/category">Danh mục</a></li>
          <li>
            <a
              th:href="@{/dashboard/category/details/{id}(id=${category.id})}"
              th:text="${category.name}"
            ></a>
          </li>
          <li>Delete</li>
        </ul>

        <!-- delete category form -->
        <form
          class="delete-category-form category-form card"
          method="post"
          th:action="@{/dashboard/category/delete}"
        >
          <h1 class="form-title">
            Xóa danh mục với "<span th:text="${category.name}"></span>"
          </h1>

          <div class="form-content">
            <input type="hidden" name="categoryId" th:value="${categoryId}" />
            <p class="warning-message">
              Bạn có chắc chắn muốn xóa danh mục với "<span
                th:text="${category.name}"
              ></span
              >" không?
            </p>
          </div>

          <div class="form-actions">
            <button type="submit" class="confirm-button danger-button">
              Xác nhận
            </button>
            <a href="/dashboard/category" class="back-button secondary-button">
              Quay lại
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
