<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Category</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard/role">Category</a></li>
          <li>Delete</li>
        </ul>

        <div class="category-container">
          <h1 class="title">Delete Category "<span th:text="${category.name}"></span>"</h1>

          <form method="post" th:action="@{/dashboard/category/delete/{id}(id=${category.id})}" class="delete-category-form">
            <p class="warning-message">Are you sure you want to delete the "<span th:text="${category.name}"></span>" category ?</p>
            <div class="actions">
              <button type="submit" class="confirm-button">Confirm</button>
              <a href="/dashboard/category" class="cancel-button">Back</a>
            </div>
          </form>
        </div>
      </div>
</body>
</html>