<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Category</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/role">Category</a></li>
      <li>Details</li>
    </ul>

    <div class="category-container">
      <h1 class="title">Category "<span th:text="${category.name}"></span>"</h1>

      <div class="description-list-container">
        <dl class="row">
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Image:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="image-container">
              <img th:src="${'/' + resourcesMappingFolder + '/' + categoryPicturesFolder + '/' + category.image}" alt="category image" />
            </div>
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            ID:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${category.id}">
          </dd>

          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Name:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${category.name}">
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Description:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${category.description}">
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Created at:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(category.updatedAt, 'dd-MM-yyyy HH:mm')}">
          </dd>
          <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            Updated at:
          </dt>
          <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(category.updatedAt, 'dd-MM-yyyy HH:mm')}">
          </dd>
        </dl>
        <div class="actions">
          <a th:href="@{/dashboard/category/edit/{id}(id=${category.id})}" class="edit-button">Edit</a>
          <a href="/dashboard/category" class="back-button">Back</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>