<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Order - ShopLap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/libraries/jquery-toast-plugin/jquery.toast.css" />
    <link rel="stylesheet" href="/admin/css/reset.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
    <link rel="stylesheet" href="/admin/css/layout.css" />
    <link rel="stylesheet" href="/admin/css/order.css" />
</head>

<body>
<div class="main-wrapper">
    <!-- overlay -->
    <div class="overlay"></div>

    <!-- sidebar -->
    <div th:replace="/admin/layout/sidebar"></div>

    <div class="main-content">
        <!-- header -->
        <div th:replace="/admin/layout/header"></div>

        <!-- main -->
        <main>
            <div class="container-fluid">
                <!-- breadcrumb -->
                <ul class="breadcrumb">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/dashboard/order">Order</a></li>
                    <li>Details</li>
                </ul>

                <div class="order-wrapper">
                    <h1 class="title">Order #<span th:text="${order.id}"></span></h1>

                    <div class="description-list-wrapper">
                        <div class="info general-info">
                            <h2 class="title">General Information:</h2>

                            <dl class="row">
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Order date:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(order.createdAt, 'dd-MM-yyyy HH:mm')}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Order ID:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.id}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Email:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.receiverEmail}">
                                </dd>

                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Phone:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.receiverPhone}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    First name:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.receiverFirstName}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Last name:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.receiverLastName}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Address:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.receiverAddress}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Total:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + '₫'">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Payment method:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${order.paymentMethod}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" th:if="${order.cancelledReason != null and !order.cancelledReason.isEmpty()}">
                                    Cancelled reason:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:if="${order.cancelledReason != null and !order.cancelledReason.isEmpty()}" th:text="${order.cancelledReason}">
                                </dd>
                                <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                    Status:
                                </dt>
                                <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8  order-status"
                                    th:text="${order.orderStatus}"
                                    th:classappend="${order.orderStatus == T(com.laptopstore.ecommerce.util.constant.OrderStatusEnum).PENDING ? 'pending-status' :
                                                                           (order.orderStatus == T(com.laptopstore.ecommerce.util.constant.OrderStatusEnum).CONFIRMED ? 'confirmed-status' :
                                                                            (order.orderStatus == T(com.laptopstore.ecommerce.util.constant.OrderStatusEnum).SHIPPING ? 'shipping-status' :
                                                                             (order.orderStatus == T(com.laptopstore.ecommerce.util.constant.OrderStatusEnum).DELIVERED ? 'delivered-status' :
                                                                              (order.orderStatus == T(com.laptopstore.ecommerce.util.constant.OrderStatusEnum).CANCELLED ? 'cancelled-status' :  ''))))}"
                                >
                                </dd>
                            </dl>
                        </div>

                        <div class="actions">
                            <a th:href="@{/dashboard/order/edit/{id}(id=${order.id})}" class="edit-button">Edit</a>
                            <a href="/dashboard/order" class="back-button">Back</a>
                        </div>

                        <div class="info product-list">
                            <h2 class="title">Product list:</h2>

                            <!-- table -->
                            <div class="table-wrapper">
                                <table>
                                    <thead>
                                    <tr class="table-row">
                                        <th class="col-width-1">ID</th>
                                        <th class="col-width-1">Picture</th>
                                        <th class="col-width-3">Name</th>
                                        <th class="col-width-2">Quantity</th>
                                        <th class="col-width-2">Price</th>
                                        <th class="col-width-2">Total</th>
                                        <th class="col-width-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="orderDetail: ${order.orderDetails}">
                                            <td>
                                                <span th:text="${orderDetail.product != null ? orderDetail.product.id : '-'}"></span>
                                            </td>
                                            <td>
                                                <div class="image-wrapper" th:if="${orderDetail.product != null}">
                                                    <img th:src="${'/' + resourcesMappingFolder + '/' + productPicturesFolder + '/' + (orderDetail.product.productImages != null and orderDetail.product.productImages.size() > 0 ? orderDetail.product.productImages[0].imageName : '')}" alt="product image" />
                                                </div>
                                                <div class="image-wrapper" th:if="${orderDetail.product == null}">
                                                    <img src="/images/default-thumbnail.jpg" alt="product image" />
                                                </div>
                                            </td>
                                            <td>
                                                <a th:if="${orderDetail.product != null}">
                                                    <span th:text="${orderDetail.product.name}"></span>
                                                </a>
                                                <span th:if="${orderDetail.product == null}">-</span>
                                            </td>
                                            <td>
                                                <span th:text="${orderDetail.quantity}"></span>
                                            </td>
                                            <td>
                                                <span th:text="${#numbers.formatDecimal(orderDetail.price, 0, 'COMMA', 0, 'POINT')} + '₫'"></span>
                                            </td>
                                            <td>
                                                <span th:text="${#numbers.formatDecimal(orderDetail.price * orderDetail.quantity, 0, 'COMMA', 0, 'POINT')} + '₫'"></span>
                                            </td>
                                            <td>
                                                <div class="actions" th:if="${orderDetail.product != null}">
                                                    <a th:href="@{/dashboard/product/details/{id}(id=${orderDetail.product.id})}" class="view-button">View</a>
                                                </div>
                                                <div class="actions" th:if="${orderDetail.product == null}">
                                                    -
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div th:replace="/admin/layout/footer"></div>
    </div>
</div>
</body>
<script src="/libraries/jquery/jquery.js"></script>
<script src="/libraries/jquery-toast-plugin/jquery.toast.js"></script>
<script src="/admin/js/main.js"></script>

</html>