<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Order</title>
</head>

<body>
    <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard/order">Order</a></li>
            <li>Edit</li>
        </ul>

        <div class="order-container">
            <h1 class="title">Edit order #<span th:text="${updateOrderStatusDto.id}"></span></h1>

            <form method="post" th:action="@{/dashboard/order/edit/{id}(id=${updateOrderStatusDto.id})}" class="edit-order-form" th:object="${updateOrderStatusDto}">
                <div class="input-group">
                    <label for="orderStatus">Order status: </label>
                    <div class="input-group-control">
                        <select name="orderStatus" id="orderStatus">
                            <option
                                    th:each="status : ${orderStatus}"
                                    th:text="${status}" th:value="${status}"
                                    th:selected="${updateOrderStatusDto.orderStatus == status}"
                                    th:classappend="${#fields.hasErrors('orderStatus') ? 'error' : ''}"
                                    th:field="${updateOrderStatusDto.orderStatus}"
                            >
                            </option>
                        </select>
                        <span id="orderStatusError" class="error-message" th:if="${#fields.hasErrors('orderStatus')}" th:errors="${updateOrderStatusDto.orderStatus}"></span>
                    </div>
                </div>
                <div class="input-group cancelled-reason-input">
                    <label for="cancelledReason">Cancelled reason: </label>
                    <div class="input-group-control">
                        <textarea
                                name="cancelledReason"
                                id="cancelledReason"
                                rows="5"
                                placeholder="Cancelled reason"
                                th:text="${updateOrderStatusDto.cancelledReason}"
                                th:classappend="${#fields.hasErrors('cancelledReason') ? 'error' : ''}"
                                th:field="${updateOrderStatusDto.cancelledReason}"
                        >
                        </textarea>
                        <span id="cancelledReasonError" class="error-message" th:if="${#fields.hasErrors('cancelledReason')}" th:errors="${updateOrderStatusDto.cancelledReason}"></span>
                    </div>
                </div>
                <div class="actions">
                    <div class="empty"></div>
                    <button type="submit" class="save-button">Save</button>
                    <a th:href="@{/dashboard/order/details/{id}(id=${updateOrderStatusDto.id})}" class="back-button">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>