<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Order - ShopLap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/admin/css/reset.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
    <link rel="stylesheet" href="/admin/css/layout.css" />
    <link rel="stylesheet" href="/admin/css/content.css" />
</head>

<body>
<div class="main-wrapper">
    <!-- overlay -->
    <div class="overlay"></div>

    <!-- sidebar -->
    <div th:replace="/admin/layout/sidebar"></div>

    <div class="main-content">
        <!-- header -->
        <div th:replace="/admin/layout/header"></div>


        <main>
            <form method="get"  th:action="@{/dashboard/order}">
                <div class="container-fluid">
                    <ul class="breadcrumb">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li>Order</li>
                    </ul>
                    <div class="content">
                        <h3>Order</h3>
                        <div class="header">
                            <div class="filter">
                                <div class="popover">
                                    <button type="button" id="btnFilterToggle" class="popover-button">
                                        <i class="fa-solid fa-filter"></i>
                                        Filter
                                        <span class="filter-number"
                                              th:if="${query.getFilterCount() > 0}"
                                              th:text="${query.getFilterCount()}"
                                        >
                                        </span>
                                    </button>
                                    <div class="popover-menu filter-menu">
                                        <div class="popover-pointer"></div>

                                        <div class="header">
                                            <h4>Filter menu</h4>
                                            <button type="button" class="close-filter-button"><i class="fa-solid fa-xmark"></i></button>
                                        </div>

                                        <div class="body">
                                            <h4>Payment methods: </h4>
                                            <div class="filter-section">
                                                <div class="filter-option" th:each="paymentMethod: ${paymentMethods}">
                                                    <input type="checkbox"
                                                           th:id="${'method#' + paymentMethod}" name="paymentMethods"
                                                           th:value="${paymentMethod}"
                                                           th:checked="${query.paymentMethods?.contains(paymentMethod.toString())}"
                                                    >
                                                    <label th:for="${'method#' + paymentMethod}"
                                                           th:text="${paymentMethod}"
                                                    >
                                                    </label>
                                                </div>
                                            </div>

                                            <h4>Price: </h4>
                                            <div class="filter-section">
                                                <input type="number" name="minTotalPrice" id="minTotalPrice" placeholder="Min price" th:value="${query.minTotalPrice}">
                                                <input type="number" name="maxTotalPrice" id="maxTotalPrice" placeholder="Max price" th:value="${query.maxTotalPrice}">
                                            </div>

                                            <h4>Order status: </h4>
                                            <div class="filter-section">
                                                <div class="filter-option" th:each="status: ${orderStatus}">
                                                    <input type="checkbox"
                                                           th:id="${'status#' + status}" name="orderStatus"
                                                           th:value="${status}"
                                                           th:checked="${query.orderStatus?.contains(status.toString())}"
                                                    >
                                                    <label
                                                            th:for="${'status#' + status}"
                                                            th:text="${status}"
                                                    >
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="footer">
                                            <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='createdAt', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}" class="reset-button">Reset</a>
                                            <button class="apply-button">Apply</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="limit">Limit: </label>
                                    <select class="limit-select" name="limit" id="limit" onchange="this.form.submit()">
                                        <option th:value="10" th:selected="${query.limit == '10'}">10</option>
                                        <option th:value="20" th:selected="${query.limit == '20'}">20</option>
                                        <option th:value="40" th:selected="${query.limit == '40'}">40</option>
                                        <option th:value="80" th:selected="${query.limit == '80'}">80</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input class="search-box" type="text" placeholder="Search here..." name="receiverEmail" id="receiverEmail" th:value="${query.receiverEmail}" />
                                    <button type="submit"  class="search-button">Search</button>
                                </div>
                                <input type="hidden" name="sortBy" th:value="${query.sortBy}" />
                                <input type="hidden" name="sortDirection" th:value="${query.sortDirection}" />
                            </div>
                        </div>
                        <div th:if="${query.receiverEmail != null and query.receiverEmail != ''}" class="search-results-message">
                            <h4>
                                <span class="result-count" th:text="${resultCount}"></span> results for "<span class="result-query" th:text="${query.receiverEmail}"></span>"
                            </h4>
                            <a th:href="@{'/dashboard/order'(receiverEmail='', limit=${query.limit}, page=1, sortBy='createdAt', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}" class="reset-search">reset</a>
                        </div>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr class="table-row">
                                    <th class="col-width-2">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='createdAt', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Date
                                            <i th:if="${query.sortBy == 'createdAt' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'createdAt' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-1">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='id', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Order ID
                                            <i th:if="${query.sortBy == 'id' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'id' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-2">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='receiverEmail', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Email
                                            <i th:if="${query.sortBy == 'receiverEmail' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'receiverEmail' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-2">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='totalPrice', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Total price
                                            <i th:if="${query.sortBy == 'totalPrice' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'totalPrice' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-2">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='paymentMethod', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Payment method
                                            <i th:if="${query.sortBy == 'paymentMethod' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'paymentMethod' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-2">
                                        <a th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=1, sortBy='orderStatus', sortDirection=${query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC ? 'ASC' : 'DESC'})}">
                                            Status
                                            <i th:if="${query.sortBy == 'orderStatus' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).DESC}"
                                               class="fa-solid fa-arrow-down"></i>

                                            <i th:if="${query.sortBy == 'orderStatus' and query.sortDirection == T(com.laptopstore.ecommerce.util.constant.SortDirectionEnum).ASC}"
                                               class="fa-solid fa-arrow-up"></i>
                                        </a>
                                    </th>
                                    <th class="col-width-1">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order: ${orderList}">
                                    <td>
                                        <span th:text="${order.createdAt}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${order.id}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${order.receiverEmail}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${order.totalPrice}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${order.paymentMethod}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${order.orderStatus}"></span>
                                    </td>
                                    <td class="table-actions">
                                        <a class="view-button" th:href="@{/dashboard/order/details/{id}(id=${order.id})}">View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination" th:if="${totalPages > 0}">
                            <li>
                                <a  th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=${currentPage - 1}, sortBy=${query.sortBy}, sortDirection=${query.sortDirection})}" class="previous" th:classappend="${currentPage == 1 ? 'disabled' : ''}"><i class="fa-solid fa-chevron-left"></i></a>
                            </li>
                            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                                <a
                                        th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=${pageNumber + 1}, sortBy=${query.sortBy}, sortDirection=${query.sortDirection})}"
                                        th:class="${currentPage == pageNumber + 1 ? 'active' : ''}"
                                        th:text="${pageNumber + 1}">
                                </a>
                            </li>
                            <li>
                                <a  th:href="@{'/dashboard/order'(receiverEmail=${query.receiverEmail}, limit=${query.limit}, page=${currentPage + 1}, sortBy=${query.sortBy}, sortDirection=${query.sortDirection})}" class="next" th:classappend="${currentPage + 1 > totalPages ? 'disabled' : ''}"><i class="fa-solid fa-chevron-right"></i></a>
                            </li>
                        </ul>
                        <ul class="pagination" th:if="${totalPages == 0}">
                            <li>
                                <a class="previous disabled"><i class="fa-solid fa-chevron-left"></i></a>
                            </li>
                            <li>
                                <a th:class="active" th:text="1"></a>
                            </li>
                            <li>
                                <a class="next disabled"><i class="fa-solid fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </main>

        <!-- footer -->
        <div th:replace="/admin/layout/footer"></div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/admin/js/main.js"></script>

</html>