<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/admin/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thống kê</title>
  </head>

  <body>
    <div class="statistics" layout:fragment="content">
      <div class="container-fluid">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="/dashboard">Dashboard</a></li>
          <li>Thống kê</li>
        </ul>

        <div class="statistics-content">
          <div class="content-title">Thông kê</div>

          <div class="content-section">
            <section></section>

            <section></section>

            <section></section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
