.row {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 576px) {
  .row .col-sm-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 768px) {
  .row .col-md-12 {
    width: 100%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-3 {
    width: 25%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-6 {
    width: 50%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-9 {
    width: 75%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
    padding: 0.8rem;
  }
}
@media (min-width: 992px) {
  .row .col-lg-12 {
    width: 100%;
    padding: 0.8rem;
  }
}

.update-account-form .form-content .input-group .image-upload-group .image-upload-preview .image-preview .image-preview-edit-button {
  transform: translateX(0) translateY(1rem);
}
.update-account-form .form-content .input-group .image-upload-group .image-upload-preview .image-preview .image-preview-image {
  border-radius: 50%;
}
.update-account-form .form-content .input-group .image-upload-group .image-upload-control .image-upload-label {
  width: 100%;
  height: 100%;
  border: 0.3rem solid rgba(51, 51, 51, 0.25);
  font-size: 3rem;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 247);
  cursor: pointer;
}
.update-account-form .form-content .input-group .image-upload-group .image-upload-control .image-upload-input {
  display: none;
}
.update-account-form .form-content .input-group .image-upload-group .image-upload-control.hide {
  display: none;
}
