.forgot-password-confirmation {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.forgot-password-confirmation .forgot-password-confirmation-title {
  font-size: 2rem;
  color: #333;
}
.forgot-password-confirmation .forgot-password-confirmation-description {
  font-size: 1.6rem;
  color: #333;
}
