@import "../variables";
@import "../media_advanced";
@import "../responsive_grid";
@import "../button";
@import "../input";

.layout {
  background-color: $bg-light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  min-height: 100%;

  .authentication-form {
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .form-title{
      font-size: 2rem;
      color: $text-primary;
    }

    .form-description{
      font-size: 1.6rem;
      color: $text-primary;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      label {
        display: inline-block;
        font-size: 1.6rem;
        color: $text-primary;
      }

      input {
        @include input();
        width: 100%;
      }
    }

    .text{
      font-size: 1.6rem;
      text-align: center;
    }
  }

  .confirmation{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .confirmation-title {
      font-size: 2rem;
      color: $text-primary;
    }

    .confirmation-description {
      font-size: 1.6rem;
      color: $text-primary;
    }
  }
}
