@import "../button";
@import "../input";
@import "../variables";

.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .reset-password-form-title {
    font-size: 2rem;
    color: $text-primary;
  }

  .reset-password-form-description {
    font-size: 1.6rem;
    color: $text-primary;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    label {
      display: inline-block;
      font-size: 1.6rem;
      color: $text-primary;
    }

    input {
      @include input();
      width: 100%;
    }
  }
}
