<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/layout"
>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Role</title>
</head>

<body>
  <div class="container-fluid" layout:fragment="content">
        <!-- breadcrumb -->
        <ul class="breadcrumb">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard/role">Role</a></li>
          <li>Details</li>
        </ul>

        <div class="role-container">
          <h1 class="title">Role "<span th:text="${role.name}"></span>"</h1>

          <div class="description-list-container">
            <dl class="row">
              <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                ID:
              </dt>
              <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${role.id}">
              </dd>

              <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                Name:
              </dt>
              <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${role.name}">
              </dd>

              <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                Description:
              </dt>

              <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${role.description}">
              </dd>

              <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                Created at:
              </dt>
              <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(role.createdAt, 'dd-MM-yyyy HH:mm')}">
              </dd>

              <dt class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                Updated at:
              </dt>
              <dd class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:text="${#temporals.format(role.updatedAt, 'dd-MM-yyyy HH:mm')}">
              </dd>
            </dl>
            <div class="actions">
              <a href="/dashboard/role" class="back-button">Back</a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>