// Core Theme Colors
$color-primary: #3b71ca;
$color-success: #14a44d;
$color-info: #54b4d3;
$color-warning: #e4a11b;
$color-danger: #dc4c64;
$color-secondary: #9fa6b2;
$color-dark: #332d2d;

// Neutral Colors
$color-light: #fbfbfb;
$color-dark: #332d2d;
$color-muted: #9fa6b2; // alias of secondary if used for text
$color-blur-overlay: rgba(#333, 0.4);

$bg-light: rgb(245, 245, 247);
$bg-white: #fff;
$bg-dark-blue: #d9534f;
$bg-dark-blue: rgb(45, 61, 77);

$box-shadow-01: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$box-shadow-02: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
$box-shadow-03: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-04: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$text-primary: #333;
$text-inverse: #fff;
$text-muted: rgb(87, 88, 100);
