@import "button";
@import "variables";

.error {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .status-code {
      font-size: 16rem;
      font-weight: 600;
      color: $color-primary;
    }

    .title {
      font-size: 3.2rem;
      font-weight: 600;
      color: $color-primary;
      text-transform: uppercase;
    }

    .message {
      font-size: 2.4rem;
      color: $text-primary;
      text-align: center;
    }
  }
}
